<a href="https://colab.research.google.com/github/Septianadaw/Praktikum-Big-Data/blob/main/2410506013_Pertemuan3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tugas 1
from pyspark.sql import SparkSession

# Membuat Spark session
spark = SparkSession.builder.appName("HandsOnPertemuan3_Tugas1").getOrCreate()

# Data sederhana
data = [
    ('Septiana', 'Direktur', 15000),
    ('Diyah', 'Manajer', 10000),
    ('Ayu', 'Wakil Direktur', 12000),
    ('Wulandari', 'Sekretaris', 9000)
]

columns = ['EmployeeName', 'Department', 'Salary']

# Membuat DataFrame
df = spark.createDataFrame(data, schema=columns)

# Menampilkan DataFrame
df.show()

# Eksplorasi fungsi dasar
df.select("EmployeeName").show()  # Menampilkan kolom tertentu

+------------+--------------+------+
|EmployeeName|    Department|Salary|
+------------+--------------+------+
|    Septiana|      Direktur| 15000|
|       Diyah|       Manajer| 10000|
|         Ayu|Wakil Direktur| 12000|
|   Wulandari|    Sekretaris|  9000|
+------------+--------------+------+

+------------+
|EmployeeName|
+------------+
|    Septiana|
|       Diyah|
|         Ayu|
|   Wulandari|
+------------+

In [ ]:
# Tugas 2 Operasi Transformasi Dasar

# pilih kolom tertentu
df.select("EmployeeName", "Salary").show()

# ambil karyawan dengan Salary > 3000
df.filter(df["Salary"] > 3000).show()

# GroupBy + Aggregasi
# Rata-rata gaji per departemen
df.groupBy("Department").avg("Salary").show()

# Gaji maksimum per departemen
df.groupBy("Department").max("Salary").show()

# Total gaji per departemen
df.groupBy("Department").sum("Salary").show()

+------------+------+
|EmployeeName|Salary|
+------------+------+
|    Septiana| 15000|
|       Diyah| 10000|
|         Ayu| 12000|
|   Wulandari|  9000|
+------------+------+

+------------+--------------+------+
|EmployeeName|    Department|Salary|
+------------+--------------+------+
|    Septiana|      Direktur| 15000|
|       Diyah|       Manajer| 10000|
|         Ayu|Wakil Direktur| 12000|
|   Wulandari|    Sekretaris|  9000|
+------------+--------------+------+

+--------------+-----------+
|    Department|avg(Salary)|
+--------------+-----------+
|      Direktur|    15000.0|
|       Manajer|    10000.0|
|Wakil Direktur|    12000.0|
|    Sekretaris|     9000.0|
+--------------+-----------+

+--------------+-----------+
|    Department|max(Salary)|
+--------------+-----------+
|      Direktur|      15000|
|       Manajer|      10000|
|Wakil Direktur|      12000|
|    Sekretaris|       9000|
+--------------+-----------+

+--------------+-----------+
|    Department|sum(Salary)|
+--------------+-----------+
|      Direktur|      15000|
|       Manajer|      10000|
|Wakil Direktur|      12000|
|    Sekretaris|       9000|
+--------------+-----------+

In [ ]:
# Tugas 3 Manipulasi Tipe Data Kompleks

# Membuat kolom baru SalaryBonus (10% dari Salary)
df = df.withColumn('SalaryBonus', df['Salary'] * 0.1)

# Membuat kolom baru TotalCompensation (Salary + SalaryBonus)
df = df.withColumn('TotalCompensation', df['Salary'] + df['SalaryBonus'])

# Menampilkan DataFrame hasil manipulasi
df.show()

+------------+--------------+------+-----------+-----------------+
|EmployeeName|    Department|Salary|SalaryBonus|TotalCompensation|
+------------+--------------+------+-----------+-----------------+
|    Septiana|      Direktur| 15000|     1500.0|          16500.0|
|       Diyah|       Manajer| 10000|     1000.0|          11000.0|
|         Ayu|Wakil Direktur| 12000|     1200.0|          13200.0|
|   Wulandari|    Sekretaris|  9000|      900.0|           9900.0|
+------------+--------------+------+-----------+-----------------+

In [ ]:
# Tugas 4 Window Function
from pyspark.sql.window import Window
from pyspark.sql import functions as F

# WindowSpec data dibagi per Department dan diurutkan berdasarkan Salary
windowSpec = Window.partitionBy("Department").orderBy("Salary")

# Menambahkan kolom Ranking berdasarkan gaji tiap Department
df_rank = df.withColumn("Rank", F.rank().over(windowSpec))

# Menambahkan kolom Running Total (akumulasi Salary per Department)
df_running = df_rank.withColumn("RunningTotal", F.sum("Salary").over(windowSpec.rowsBetween(Window.unboundedPreceding, Window.currentRow)))

# Menampilkan hasil akhir
df_running.show()

+------------+--------------+------+-----------+-----------------+----+------------+
|EmployeeName|    Department|Salary|SalaryBonus|TotalCompensation|Rank|RunningTotal|
+------------+--------------+------+-----------+-----------------+----+------------+
|    Septiana|      Direktur| 15000|     1500.0|          16500.0|   1|       15000|
|       Diyah|       Manajer| 10000|     1000.0|          11000.0|   1|       10000|
|   Wulandari|    Sekretaris|  9000|      900.0|           9900.0|   1|        9000|
|         Ayu|Wakil Direktur| 12000|     1200.0|          13200.0|   1|       12000|
+------------+--------------+------+-----------+-----------------+----+------------+

In [2]:
# Tugas 5
# Unduh dataset dari Kaggle
import kagglehub

# Download latest version
path = kagglehub.dataset_download("pavansubhasht/ibm-hr-analytics-attrition-dataset")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'ibm-hr-analytics-attrition-dataset' dataset.
Path to dataset files: /kaggle/input/ibm-hr-analytics-attrition-dataset

In [4]:
# Tugas 5
# Import Library
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Membuat SparkSession
spark = SparkSession.builder.appName("Tugas5_BigData").getOrCreate()

# Load Dataset dari Kaggle (CSV)
path = "/kaggle/input/ibm-hr-analytics-attrition-dataset/WA_Fn-UseC_-HR-Employee-Attrition.csv"
df = spark.read.csv(path, header=True, inferSchema=True)

# Eksplorasi Awal
print("Jumlah baris:", df.count())
print("Jumlah kolom:", len(df.columns))
df.printSchema()
df.show(5)

# Operasi Dasar & Manipulasi Data
# Rata-rata gaji
df.select(F.avg("MonthlyIncome").alias("RataRataGaji")).show()

# Gaji tertinggi dan terendah
df.select(
    F.max("MonthlyIncome").alias("GajiTertinggi"),
    F.min("MonthlyIncome").alias("GajiTerendah")
).show()

# Total gaji per Department
df.groupBy("Department").sum("MonthlyIncome").alias("TotalGaji").show()

# Rata-rata gaji per JobRole
df.groupBy("JobRole").avg("MonthlyIncome").alias("RataGaji").show()

# Window Function--Ranking Gaji per Department
windowSpec = Window.partitionBy("Department").orderBy(F.desc("MonthlyIncome"))
df_rank = df.withColumn("Rank", F.rank().over(windowSpec))

df_rank.select("EmployeeNumber", "Department", "MonthlyIncome", "Rank").show(10)

Jumlah baris: 1470
Jumlah kolom: 35
root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 5 rows

+-----------------+
|     RataRataGaji|
+-----------------+
|6502.931292517007|
+-----------------+

+-------------+------------+
|GajiTertinggi|GajiTerendah|
+-------------+------------+
|        19999|        1009|
+-------------+------------+

+--------------------+------------------+
|          Department|sum(MonthlyIncome)|
+--------------------+------------------+
|               Sales|           3103791|
|Research & Develo...|           6036284|
|     Human Resources|            419234|
+--------------------+------------------+

+--------------------+------------------+
|             JobRole|avg(MonthlyIncome)|
+--------------------+------------------+
|     Sales Executive|6924.2791411042945|
|Manufacturing Dir...| 7295.137931034483|
|Laboratory Techni...| 3237.169884169884|
|Sales Representative|            2626.0|
|Healthcare Repres...| 7528.763358778626|
|  Research Scientist| 3239.972602739726|
|             Manager|17181.676470588234|
|   Research Director|          16033.55|
|     Human Resources|           4235.75|
+--------------------+------------------+

+--------------+---------------+-------------+----+
|EmployeeNumber|     Department|MonthlyIncome|Rank|
+--------------+---------------+-------------+----+
|          1338|Human Resources|        19717|   1|
|          1625|Human Resources|        19658|   2|
|          1973|Human Resources|        19636|   3|
|           734|Human Resources|        19189|   4|
|           731|Human Resources|        19141|   5|
|           140|Human Resources|        18844|   6|
|           644|Human Resources|        18200|   7|
|           148|Human Resources|        17328|   8|
|          1408|Human Resources|        16799|   9|
|          1550|Human Resources|        16437|  10|
+--------------+---------------+-------------+----+
only showing top 10 rows