In [11]:
# Tugas Latihan
# Memuat dataset pilihan Anda dan mengidentifikasi nilai yang hilang.

import pandas as pd

# Menentukan lokasi file dataset
file_path = '/home/septianadaw/Titanic-Dataset.csv'

# Memuat dataset
df = pd.read_csv(file_path)

# Menampilkan informasi awal dataset
print("\nInformasi Dataset: ")
print(df.info())

# Mengidentifikasi nilai yang hilang (missing values)
print("\nJumlah Nilai yang Hilang di Setiap Kolom: ")
print(df.isnull().sum())

# Menampilkan contoh beberapa baris data
print("\nContoh Beberapa Baris Data: ")
print(df.head())

Informasi Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Jumlah Nilai yang Hilang di Setiap Kolom:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Contoh Beberapa Baris Data:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [12]:
# Transformasi Data untuk Normalisasi Kolom Numerik

# Menyalin dataset agar data asli tidak berubah
df_normalized = df.copy()

# Menentukan kolom numerik
kolom_numerik = df_normalized.select_dtypes(include=['int64', 'float64']).columns

# Melakukan normalisasi dengan rumus: (x - min) / (max - min)
for kolom in kolom_numerik:
    nilai_min = df_normalized[kolom].min()
    nilai_max = df_normalized[kolom].max()
    df_normalized[kolom] = (df_normalized[kolom] - nilai_min) / (nilai_max - nilai_min)

# Menampilkan hasil normalisasi
print("\nDataset Setelah Normalisasi Kolom Numerik: ")
print(df_normalized.head())

Dataset Setelah Normalisasi Kolom Numerik:
   PassengerId  Survived  Pclass  \
0     0.000000       0.0     1.0
1     0.001124       1.0     0.0
2     0.002247       1.0     1.0
3     0.003371       1.0     0.0
4     0.004494       0.0     1.0

                                                Name     Sex       Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  0.271174  0.125
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  0.472229  0.125
2                             Heikkinen, Miss. Laina  female  0.321438  0.000
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  0.434531  0.125
4                           Allen, Mr. William Henry    male  0.434531  0.000

   Parch            Ticket      Fare Cabin Embarked
0    0.0         A/5 21171  0.014151   NaN        S
1    0.0          PC 17599  0.139136   C85        C
2    0.0  STON/O2. 3101282  0.015469   NaN        S
3    0.0            113803  0.103644  C123        S
4    0.0            373450  0.015713   NaN        S

In [14]:
# Standarisasi Kolom Kategoris dan Menghapus Duplikat

# Menyalin dataset hasil normalisasi
df_bersih = df_normalized.copy()

# Menampilkan jumlah data awal sebelum pembersihan
print(f"Jumlah data awal sebelum pembersihan: {len(df_bersih)} baris")

# Menstandarkan kolom kategoris
kolom_kategoris = df_bersih.select_dtypes(include='object').columns
for kolom in kolom_kategoris:
    df_bersih[kolom] = df_bersih[kolom].str.capitalize()

# Menghapus data duplikat
df_bersih.drop_duplicates(inplace=True)

# Menampilkan hasil akhir
print("\nDataset Setelah Standarisasi dan Menghapus Duplikat: ")
print(df_bersih.head())
print(f"\nJumlah data akhir setelah pembersihan: {len(df_bersih)} baris")

Jumlah data awal sebelum pembersihan: 891 baris

Dataset Setelah Standarisasi dan Menghapus Duplikat:
   PassengerId  Survived  Pclass  \
0     0.000000       0.0     1.0
1     0.001124       1.0     0.0
2     0.002247       1.0     1.0
3     0.003371       1.0     0.0
4     0.004494       0.0     1.0

                                                Name     Sex       Age  SibSp  \
0                            Braund, mr. owen harris    Male  0.271174  0.125
1  Cumings, mrs. john bradley (florence briggs th...  Female  0.472229  0.125
2                             Heikkinen, miss. laina  Female  0.321438  0.000
3       Futrelle, mrs. jacques heath (lily may peel)  Female  0.434531  0.125
4                           Allen, mr. william henry    Male  0.434531  0.000

   Parch            Ticket      Fare Cabin Embarked
0    0.0         A/5 21171  0.014151   NaN        S
1    0.0          Pc 17599  0.139136   C85        C
2    0.0  Ston/o2. 3101282  0.015469   NaN        S
3    0.0            113803  0.103644  C123        S
4    0.0            373450  0.015713   NaN        S

Jumlah data akhir setelah pembersihan: 891 baris