In [2]:
!pip install pymongo pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.15.3-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 3.2 MB/s eta 0:00:00m eta 0:00:010:01:01
Collecting pandas
  Downloading pandas-2.3.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 1.6 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 KB 966.3 kB/s eta 0:00:00 MB/s eta 0:00:01:01
Requirement already satisfied: tzdata>=2022.7 in ./.local/lib/python3.10/site-packages (from pandas) (2025.2)
Collecting numpy>=1.22.4
  Downloading numpy-2.2.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.8/16.8 MB 1.4 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01m
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: numpy, dnspython, pymongo, pandas
  WARNING: The scripts f2py and numpy-config are installed in '/home/septianadaw/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  NOTE: The current PATH contains path(s) starting with `~`, which may not be expanded by all applications.
Successfully installed dnspython-2.8.0 numpy-2.2.6 pandas-2.3.3 pymongo-4.15.3

In [23]:
# 1. Menghubungkan ke Database MongoDB
# Tugas 1: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [24]:
# 2. Operasi CRUD Dasar
# Tugas 2: Insert, Update, dan Delete data pada koleksi employees.
import random

# Daftar departemen
departments = ['Finance', 'HR', 'IT', 'Marketing', 'Sales', 'Operations']

# Hapus data lama agar tidak duplikat
collection.delete_many({})

# Insert 100 data karyawan
for i in range(1, 101):
    employee_data = {
        'employee_id': i,
        'name': f'Employee_{i}',
        'department': random.choice(departments),
        'age': random.randint(21, 55),
        'salary': random.randint(3000, 12000)
    }
    collection.insert_one(employee_data)

print("✅ 100 data karyawan berhasil ditambahkan ke koleksi 'employees'")

# Menampilkan 10 data pertama untuk memastikan data sudah masuk
print("\n📋 Data yang berhasil ditambahkan (10 data pertama):")
for emp in collection.find().limit(10):
    print(emp)

# Update Data
result = collection.update_many(
    {'department': 'IT'},  # kondisi
    {'$mul': {'salary': 1.1}}  # operasi: kalikan salary 1.1 (naik 10%)
)
print(f"\n✅ {result.modified_count} data karyawan departemen IT berhasil diperbarui.")

# Delete Data
result = collection.delete_many({'age': {'$gt': 50}})
print(f"🗑️ {result.deleted_count} data karyawan dengan usia > 50 tahun berhasil dihapus.")

print("Jumlah data tersisa:", collection.count_documents({}))

✅ 100 data karyawan berhasil ditambahkan ke koleksi 'employees'

📋 Data yang berhasil ditambahkan (10 data pertama):
{'_id': ObjectId('6904adecf1775fffd21890c2'), 'employee_id': 1, 'name': 'Employee_1', 'department': 'Finance', 'age': 29, 'salary': 11104}
{'_id': ObjectId('6904adecf1775fffd21890c3'), 'employee_id': 2, 'name': 'Employee_2', 'department': 'IT', 'age': 28, 'salary': 9667}
{'_id': ObjectId('6904adecf1775fffd21890c4'), 'employee_id': 3, 'name': 'Employee_3', 'department': 'Operations', 'age': 26, 'salary': 11141}
{'_id': ObjectId('6904adecf1775fffd21890c5'), 'employee_id': 4, 'name': 'Employee_4', 'department': 'Operations', 'age': 27, 'salary': 10639}
{'_id': ObjectId('6904adecf1775fffd21890c6'), 'employee_id': 5, 'name': 'Employee_5', 'department': 'Operations', 'age': 54, 'salary': 10289}
{'_id': ObjectId('6904adecf1775fffd21890c7'), 'employee_id': 6, 'name': 'Employee_6', 'department': 'Sales', 'age': 39, 'salary': 6851}
{'_id': ObjectId('6904adecf1775fffd21890c8'), 'employee_id': 7, 'name': 'Employee_7', 'department': 'HR', 'age': 37, 'salary': 5854}
{'_id': ObjectId('6904adecf1775fffd21890c9'), 'employee_id': 8, 'name': 'Employee_8', 'department': 'Marketing', 'age': 48, 'salary': 3402}
{'_id': ObjectId('6904adecf1775fffd21890ca'), 'employee_id': 9, 'name': 'Employee_9', 'department': 'Sales', 'age': 38, 'salary': 6714}
{'_id': ObjectId('6904adecf1775fffd21890cb'), 'employee_id': 10, 'name': 'Employee_10', 'department': 'Marketing', 'age': 30, 'salary': 4827}

✅ 22 data karyawan departemen IT berhasil diperbarui.
🗑️ 18 data karyawan dengan usia > 50 tahun berhasil dihapus.
Jumlah data tersisa: 82

In [25]:
# Contoh Query Data
print("📋Data Karyawan dari Koleksi 'employees'📋\n")
for employee in collection.find():
    print(employee)

📋Data Karyawan dari Koleksi 'employees'📋

{'_id': ObjectId('6904adecf1775fffd21890c2'), 'employee_id': 1, 'name': 'Employee_1', 'department': 'Finance', 'age': 29, 'salary': 11104}
{'_id': ObjectId('6904adecf1775fffd21890c3'), 'employee_id': 2, 'name': 'Employee_2', 'department': 'IT', 'age': 28, 'salary': 10633.7}
{'_id': ObjectId('6904adecf1775fffd21890c4'), 'employee_id': 3, 'name': 'Employee_3', 'department': 'Operations', 'age': 26, 'salary': 11141}
{'_id': ObjectId('6904adecf1775fffd21890c5'), 'employee_id': 4, 'name': 'Employee_4', 'department': 'Operations', 'age': 27, 'salary': 10639}
{'_id': ObjectId('6904adecf1775fffd21890c7'), 'employee_id': 6, 'name': 'Employee_6', 'department': 'Sales', 'age': 39, 'salary': 6851}
{'_id': ObjectId('6904adecf1775fffd21890c8'), 'employee_id': 7, 'name': 'Employee_7', 'department': 'HR', 'age': 37, 'salary': 5854}
{'_id': ObjectId('6904adecf1775fffd21890c9'), 'employee_id': 8, 'name': 'Employee_8', 'department': 'Marketing', 'age': 48, 'salary': 3402}
{'_id': ObjectId('6904adecf1775fffd21890ca'), 'employee_id': 9, 'name': 'Employee_9', 'department': 'Sales', 'age': 38, 'salary': 6714}
{'_id': ObjectId('6904adecf1775fffd21890cb'), 'employee_id': 10, 'name': 'Employee_10', 'department': 'Marketing', 'age': 30, 'salary': 4827}
{'_id': ObjectId('6904adecf1775fffd21890cc'), 'employee_id': 11, 'name': 'Employee_11', 'department': 'Finance', 'age': 40, 'salary': 9217}
{'_id': ObjectId('6904adecf1775fffd21890cd'), 'employee_id': 12, 'name': 'Employee_12', 'department': 'IT', 'age': 34, 'salary': 7153.3}
{'_id': ObjectId('6904adecf1775fffd21890ce'), 'employee_id': 13, 'name': 'Employee_13', 'department': 'HR', 'age': 29, 'salary': 4354}
{'_id': ObjectId('6904adecf1775fffd21890cf'), 'employee_id': 14, 'name': 'Employee_14', 'department': 'Sales', 'age': 35, 'salary': 5831}
{'_id': ObjectId('6904adecf1775fffd21890d0'), 'employee_id': 15, 'name': 'Employee_15', 'department': 'IT', 'age': 49, 'salary': 4929.1}
{'_id': ObjectId('6904adecf1775fffd21890d1'), 'employee_id': 16, 'name': 'Employee_16', 'department': 'Finance', 'age': 40, 'salary': 5017}
{'_id': ObjectId('6904adecf1775fffd21890d2'), 'employee_id': 17, 'name': 'Employee_17', 'department': 'Finance', 'age': 40, 'salary': 5290}
{'_id': ObjectId('6904adecf1775fffd21890d3'), 'employee_id': 18, 'name': 'Employee_18', 'department': 'Finance', 'age': 31, 'salary': 10705}
{'_id': ObjectId('6904adecf1775fffd21890d4'), 'employee_id': 19, 'name': 'Employee_19', 'department': 'Sales', 'age': 28, 'salary': 4000}
{'_id': ObjectId('6904adecf1775fffd21890d6'), 'employee_id': 21, 'name': 'Employee_21', 'department': 'HR', 'age': 40, 'salary': 8410}
{'_id': ObjectId('6904adecf1775fffd21890d7'), 'employee_id': 22, 'name': 'Employee_22', 'department': 'Operations', 'age': 42, 'salary': 6009}
{'_id': ObjectId('6904adecf1775fffd21890d8'), 'employee_id': 23, 'name': 'Employee_23', 'department': 'Finance', 'age': 44, 'salary': 5341}
{'_id': ObjectId('6904adecf1775fffd21890d9'), 'employee_id': 24, 'name': 'Employee_24', 'department': 'Sales', 'age': 31, 'salary': 9361}
{'_id': ObjectId('6904adecf1775fffd21890db'), 'employee_id': 26, 'name': 'Employee_26', 'department': 'Finance', 'age': 50, 'salary': 4547}
{'_id': ObjectId('6904adecf1775fffd21890dc'), 'employee_id': 27, 'name': 'Employee_27', 'department': 'Finance', 'age': 22, 'salary': 7539}
{'_id': ObjectId('6904adecf1775fffd21890dd'), 'employee_id': 28, 'name': 'Employee_28', 'department': 'Finance', 'age': 34, 'salary': 4077}
{'_id': ObjectId('6904adecf1775fffd21890de'), 'employee_id': 29, 'name': 'Employee_29', 'department': 'Marketing', 'age': 27, 'salary': 3190}
{'_id': ObjectId('6904adecf1775fffd21890df'), 'employee_id': 30, 'name': 'Employee_30', 'department': 'IT', 'age': 39, 'salary': 11117.7}
{'_id': ObjectId('6904adecf1775fffd21890e0'), 'employee_id': 31, 'name': 'Employee_31', 'department': 'Operations', 'age': 27, 'salary': 8620}
{'_id': ObjectId('6904adecf1775fffd21890e2'), 'employee_id': 33, 'name': 'Employee_33', 'department': 'Sales', 'age': 23, 'salary': 7335}
{'_id': ObjectId('6904adecf1775fffd21890e3'), 'employee_id': 34, 'name': 'Employee_34', 'department': 'IT', 'age': 32, 'salary': 9986.900000000001}
{'_id': ObjectId('6904adecf1775fffd21890e4'), 'employee_id': 35, 'name': 'Employee_35', 'department': 'HR', 'age': 49, 'salary': 6519}
{'_id': ObjectId('6904adecf1775fffd21890e6'), 'employee_id': 37, 'name': 'Employee_37', 'department': 'IT', 'age': 40, 'salary': 7764.900000000001}
{'_id': ObjectId('6904adecf1775fffd21890e8'), 'employee_id': 39, 'name': 'Employee_39', 'department': 'Sales', 'age': 27, 'salary': 5114}
{'_id': ObjectId('6904adecf1775fffd21890e9'), 'employee_id': 40, 'name': 'Employee_40', 'department': 'Operations', 'age': 37, 'salary': 10921}
{'_id': ObjectId('6904adecf1775fffd21890ea'), 'employee_id': 41, 'name': 'Employee_41', 'department': 'IT', 'age': 43, 'salary': 5181.0}
{'_id': ObjectId('6904adecf1775fffd21890eb'), 'employee_id': 42, 'name': 'Employee_42', 'department': 'Operations', 'age': 28, 'salary': 4824}
{'_id': ObjectId('6904adecf1775fffd21890ed'), 'employee_id': 44, 'name': 'Employee_44', 'department': 'HR', 'age': 48, 'salary': 7790}
{'_id': ObjectId('6904adecf1775fffd21890ee'), 'employee_id': 45, 'name': 'Employee_45', 'department': 'Sales', 'age': 27, 'salary': 4219}
{'_id': ObjectId('6904adecf1775fffd21890ef'), 'employee_id': 46, 'name': 'Employee_46', 'department': 'Operations', 'age': 30, 'salary': 11996}
{'_id': ObjectId('6904adecf1775fffd21890f0'), 'employee_id': 47, 'name': 'Employee_47', 'department': 'Sales', 'age': 47, 'salary': 4669}
{'_id': ObjectId('6904adecf1775fffd21890f1'), 'employee_id': 48, 'name': 'Employee_48', 'department': 'Finance', 'age': 39, 'salary': 8149}
{'_id': ObjectId('6904adecf1775fffd21890f2'), 'employee_id': 49, 'name': 'Employee_49', 'department': 'Marketing', 'age': 50, 'salary': 11197}
{'_id': ObjectId('6904adecf1775fffd21890f3'), 'employee_id': 50, 'name': 'Employee_50', 'department': 'Finance', 'age': 45, 'salary': 10087}
{'_id': ObjectId('6904adecf1775fffd21890f5'), 'employee_id': 52, 'name': 'Employee_52', 'department': 'Marketing', 'age': 44, 'salary': 9304}
{'_id': ObjectId('6904adecf1775fffd21890f6'), 'employee_id': 53, 'name': 'Employee_53', 'department': 'Finance', 'age': 35, 'salary': 8197}
{'_id': ObjectId('6904adecf1775fffd21890f7'), 'employee_id': 54, 'name': 'Employee_54', 'department': 'Finance', 'age': 50, 'salary': 4537}
{'_id': ObjectId('6904adecf1775fffd21890f8'), 'employee_id': 55, 'name': 'Employee_55', 'department': 'Finance', 'age': 41, 'salary': 7579}
{'_id': ObjectId('6904adecf1775fffd21890f9'), 'employee_id': 56, 'name': 'Employee_56', 'department': 'IT', 'age': 24, 'salary': 6068.700000000001}
{'_id': ObjectId('6904adecf1775fffd21890fa'), 'employee_id': 57, 'name': 'Employee_57', 'department': 'Operations', 'age': 23, 'salary': 6369}
{'_id': ObjectId('6904adecf1775fffd21890fb'), 'employee_id': 58, 'name': 'Employee_58', 'department': 'Finance', 'age': 49, 'salary': 5101}
{'_id': ObjectId('6904adecf1775fffd21890fc'), 'employee_id': 59, 'name': 'Employee_59', 'department': 'IT', 'age': 43, 'salary': 7948.6}
{'_id': ObjectId('6904adecf1775fffd21890fe'), 'employee_id': 61, 'name': 'Employee_61', 'department': 'IT', 'age': 32, 'salary': 5464.8}
{'_id': ObjectId('6904adecf1775fffd21890ff'), 'employee_id': 62, 'name': 'Employee_62', 'department': 'Operations', 'age': 50, 'salary': 11421}
{'_id': ObjectId('6904adecf1775fffd2189100'), 'employee_id': 63, 'name': 'Employee_63', 'department': 'Sales', 'age': 32, 'salary': 10190}
{'_id': ObjectId('6904adecf1775fffd2189101'), 'employee_id': 64, 'name': 'Employee_64', 'department': 'IT', 'age': 22, 'salary': 12833.7}
{'_id': ObjectId('6904adecf1775fffd2189103'), 'employee_id': 66, 'name': 'Employee_66', 'department': 'Marketing', 'age': 31, 'salary': 11966}
{'_id': ObjectId('6904adecf1775fffd2189104'), 'employee_id': 67, 'name': 'Employee_67', 'department': 'Operations', 'age': 34, 'salary': 7238}
{'_id': ObjectId('6904adecf1775fffd2189105'), 'employee_id': 68, 'name': 'Employee_68', 'department': 'Marketing', 'age': 43, 'salary': 10337}
{'_id': ObjectId('6904adecf1775fffd2189106'), 'employee_id': 69, 'name': 'Employee_69', 'department': 'HR', 'age': 41, 'salary': 7029}
{'_id': ObjectId('6904adecf1775fffd2189107'), 'employee_id': 70, 'name': 'Employee_70', 'department': 'Marketing', 'age': 37, 'salary': 9979}
{'_id': ObjectId('6904adecf1775fffd218910a'), 'employee_id': 73, 'name': 'Employee_73', 'department': 'IT', 'age': 25, 'salary': 10565.5}
{'_id': ObjectId('6904adecf1775fffd218910e'), 'employee_id': 77, 'name': 'Employee_77', 'department': 'HR', 'age': 22, 'salary': 5033}
{'_id': ObjectId('6904adecf1775fffd218910f'), 'employee_id': 78, 'name': 'Employee_78', 'department': 'Finance', 'age': 35, 'salary': 10531}
{'_id': ObjectId('6904adecf1775fffd2189110'), 'employee_id': 79, 'name': 'Employee_79', 'department': 'Sales', 'age': 41, 'salary': 5192}
{'_id': ObjectId('6904adecf1775fffd2189111'), 'employee_id': 80, 'name': 'Employee_80', 'department': 'Finance', 'age': 37, 'salary': 4290}
{'_id': ObjectId('6904adecf1775fffd2189112'), 'employee_id': 81, 'name': 'Employee_81', 'department': 'HR', 'age': 23, 'salary': 6330}
{'_id': ObjectId('6904adecf1775fffd2189113'), 'employee_id': 82, 'name': 'Employee_82', 'department': 'IT', 'age': 30, 'salary': 11997.7}
{'_id': ObjectId('6904adecf1775fffd2189114'), 'employee_id': 83, 'name': 'Employee_83', 'department': 'HR', 'age': 37, 'salary': 9589}
{'_id': ObjectId('6904adecf1775fffd2189115'), 'employee_id': 84, 'name': 'Employee_84', 'department': 'Operations', 'age': 40, 'salary': 9347}
{'_id': ObjectId('6904adecf1775fffd2189116'), 'employee_id': 85, 'name': 'Employee_85', 'department': 'Operations', 'age': 46, 'salary': 5903}
{'_id': ObjectId('6904adecf1775fffd2189117'), 'employee_id': 86, 'name': 'Employee_86', 'department': 'IT', 'age': 44, 'salary': 7111.500000000001}
{'_id': ObjectId('6904adecf1775fffd2189118'), 'employee_id': 87, 'name': 'Employee_87', 'department': 'Finance', 'age': 24, 'salary': 11424}
{'_id': ObjectId('6904adecf1775fffd2189119'), 'employee_id': 88, 'name': 'Employee_88', 'department': 'Finance', 'age': 25, 'salary': 4838}
{'_id': ObjectId('6904adecf1775fffd218911a'), 'employee_id': 89, 'name': 'Employee_89', 'department': 'IT', 'age': 21, 'salary': 4292.200000000001}
{'_id': ObjectId('6904adecf1775fffd218911b'), 'employee_id': 90, 'name': 'Employee_90', 'department': 'Finance', 'age': 50, 'salary': 4993}
{'_id': ObjectId('6904adecf1775fffd218911c'), 'employee_id': 91, 'name': 'Employee_91', 'department': 'Finance', 'age': 28, 'salary': 10781}
{'_id': ObjectId('6904adecf1775fffd218911d'), 'employee_id': 92, 'name': 'Employee_92', 'department': 'Sales', 'age': 33, 'salary': 9137}
{'_id': ObjectId('6904adecf1775fffd218911e'), 'employee_id': 93, 'name': 'Employee_93', 'department': 'HR', 'age': 33, 'salary': 9164}
{'_id': ObjectId('6904adecf1775fffd218911f'), 'employee_id': 94, 'name': 'Employee_94', 'department': 'Marketing', 'age': 48, 'salary': 6388}
{'_id': ObjectId('6904adecf1775fffd2189122'), 'employee_id': 97, 'name': 'Employee_97', 'department': 'IT', 'age': 50, 'salary': 13048.2}
{'_id': ObjectId('6904adecf1775fffd2189124'), 'employee_id': 99, 'name': 'Employee_99', 'department': 'Finance', 'age': 27, 'salary': 5711}
{'_id': ObjectId('6904adecf1775fffd2189125'), 'employee_id': 100, 'name': 'Employee_100', 'department': 'Finance', 'age': 44, 'salary': 11023}

In [26]:
# 3. Query Lebih Kompleks Menggunakan Aggregation
# Tugas 3: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]

print("📊 Rata-rata Gaji per Departemen:\n")
for result in collection.aggregate(pipeline):
    print(result)

📊 Rata-rata Gaji per Departemen:

{'_id': 'IT', 'average_salary': 8506.09375}
{'_id': 'Operations', 'average_salary': 8702.333333333334}
{'_id': 'HR', 'average_salary': 7007.2}
{'_id': 'Marketing', 'average_salary': 7843.333333333333}
{'_id': 'Sales', 'average_salary': 6551.083333333333}
{'_id': 'Finance', 'average_salary': 7394.695652173913}

In [27]:
# 5. TUGAS
# TUGAS 1: Aggregation Pipeline untuk mencari 5 karyawan dengan gaji tertinggi di setiap departemen

pipeline_top5 = [
    # Urutkan semua data berdasarkan 'department' (ascending) dan 'salary' (descending)
    {'$sort': {'department': 1, 'salary': -1}},

    # Kelompokkan berdasarkan departemen
    {'$group': {
        '_id': '$department',
        'top_employees': {
            '$push': {  # Simpan semua data karyawan dalam daftar (array)
                'name': '$name',
                'salary': '$salary',
                'age': '$age',
                'employee_id': '$employee_id'
            }
        }
    }},

    # Ambil hanya 5 data karyawan teratas (gaji tertinggi) dalam setiap departemen
    {'$project': {
        '_id': 1,
        'top_5_employees': {'$slice': ['$top_employees', 5]}  # Ambil 5 elemen pertama dari array
    }}
]

results = collection.aggregate(pipeline_top5)

# Tampilkan hasil 
print("🏆 5 Karyawan dengan Gaji Tertinggi per Departemen\n")
for dept in results:
    print(f"Departemen: {dept['_id']}")
    print("Top 5 Karyawan:")
    for emp in dept['top_5_employees']:
        print(f"{emp['name']} | Gaji: ${emp['salary']} | Usia: {emp['age']} | ID: {emp['employee_id']}")
    print()

🏆 5 Karyawan dengan Gaji Tertinggi per Departemen

Departemen: HR
Top 5 Karyawan:
Employee_83 | Gaji: $9589 | Usia: 37 | ID: 83
Employee_93 | Gaji: $9164 | Usia: 33 | ID: 93
Employee_21 | Gaji: $8410 | Usia: 40 | ID: 21
Employee_44 | Gaji: $7790 | Usia: 48 | ID: 44
Employee_69 | Gaji: $7029 | Usia: 41 | ID: 69

Departemen: IT
Top 5 Karyawan:
Employee_97 | Gaji: $13048.2 | Usia: 50 | ID: 97
Employee_64 | Gaji: $12833.7 | Usia: 22 | ID: 64
Employee_82 | Gaji: $11997.7 | Usia: 30 | ID: 82
Employee_30 | Gaji: $11117.7 | Usia: 39 | ID: 30
Employee_2 | Gaji: $10633.7 | Usia: 28 | ID: 2

Departemen: Marketing
Top 5 Karyawan:
Employee_66 | Gaji: $11966 | Usia: 31 | ID: 66
Employee_49 | Gaji: $11197 | Usia: 50 | ID: 49
Employee_68 | Gaji: $10337 | Usia: 43 | ID: 68
Employee_70 | Gaji: $9979 | Usia: 37 | ID: 70
Employee_52 | Gaji: $9304 | Usia: 44 | ID: 52

Departemen: Operations
Top 5 Karyawan:
Employee_46 | Gaji: $11996 | Usia: 30 | ID: 46
Employee_62 | Gaji: $11421 | Usia: 50 | ID: 62
Employee_3 | Gaji: $11141 | Usia: 26 | ID: 3
Employee_40 | Gaji: $10921 | Usia: 37 | ID: 40
Employee_4 | Gaji: $10639 | Usia: 27 | ID: 4

Departemen: Sales
Top 5 Karyawan:
Employee_63 | Gaji: $10190 | Usia: 32 | ID: 63
Employee_24 | Gaji: $9361 | Usia: 31 | ID: 24
Employee_92 | Gaji: $9137 | Usia: 33 | ID: 92
Employee_33 | Gaji: $7335 | Usia: 23 | ID: 33
Employee_6 | Gaji: $6851 | Usia: 39 | ID: 6

Departemen: Finance
Top 5 Karyawan:
Employee_87 | Gaji: $11424 | Usia: 24 | ID: 87
Employee_1 | Gaji: $11104 | Usia: 29 | ID: 1
Employee_100 | Gaji: $11023 | Usia: 44 | ID: 100
Employee_91 | Gaji: $10781 | Usia: 28 | ID: 91
Employee_18 | Gaji: $10705 | Usia: 31 | ID: 18

In [28]:
# Tugas 2: Menghapus karyawan yang berusia di bawah 25 tahun

# Menampilkan jumlah data sebelum penghapusan
print("Jumlah data sebelum dihapus:", collection.count_documents({}))

# Menghapus semua karyawan yang berusia di bawah 30 tahun
delete_result = collection.delete_many({'age': {'$lt': 30}})

# Menampilkan jumlah data yang dihapus
print(f"Jumlah data karyawan yang berusia di bawah 30 tahun yang dihapus: {delete_result.deleted_count}")

# Menampilkan jumlah data setelah penghapusan
print("Jumlah data setelah dihapus:", collection.count_documents({}))

# Menampilkan semua data karyawan yang tersisa untuk verifikasi
print("\nSemua Data Karyawan yang Tersisa Setelah Penghapusan:")
for employee in collection.find():
    print(employee)

Jumlah data sebelum dihapus: 82
Jumlah data karyawan yang berusia di bawah 30 tahun yang dihapus: 24
Jumlah data setelah dihapus: 58

Semua Data Karyawan yang Tersisa Setelah Penghapusan:
{'_id': ObjectId('6904adecf1775fffd21890c7'), 'employee_id': 6, 'name': 'Employee_6', 'department': 'Sales', 'age': 39, 'salary': 6851}
{'_id': ObjectId('6904adecf1775fffd21890c8'), 'employee_id': 7, 'name': 'Employee_7', 'department': 'HR', 'age': 37, 'salary': 5854}
{'_id': ObjectId('6904adecf1775fffd21890c9'), 'employee_id': 8, 'name': 'Employee_8', 'department': 'Marketing', 'age': 48, 'salary': 3402}
{'_id': ObjectId('6904adecf1775fffd21890ca'), 'employee_id': 9, 'name': 'Employee_9', 'department': 'Sales', 'age': 38, 'salary': 6714}
{'_id': ObjectId('6904adecf1775fffd21890cb'), 'employee_id': 10, 'name': 'Employee_10', 'department': 'Marketing', 'age': 30, 'salary': 4827}
{'_id': ObjectId('6904adecf1775fffd21890cc'), 'employee_id': 11, 'name': 'Employee_11', 'department': 'Finance', 'age': 40, 'salary': 9217}
{'_id': ObjectId('6904adecf1775fffd21890cd'), 'employee_id': 12, 'name': 'Employee_12', 'department': 'IT', 'age': 34, 'salary': 7153.3}
{'_id': ObjectId('6904adecf1775fffd21890cf'), 'employee_id': 14, 'name': 'Employee_14', 'department': 'Sales', 'age': 35, 'salary': 5831}
{'_id': ObjectId('6904adecf1775fffd21890d0'), 'employee_id': 15, 'name': 'Employee_15', 'department': 'IT', 'age': 49, 'salary': 4929.1}
{'_id': ObjectId('6904adecf1775fffd21890d1'), 'employee_id': 16, 'name': 'Employee_16', 'department': 'Finance', 'age': 40, 'salary': 5017}
{'_id': ObjectId('6904adecf1775fffd21890d2'), 'employee_id': 17, 'name': 'Employee_17', 'department': 'Finance', 'age': 40, 'salary': 5290}
{'_id': ObjectId('6904adecf1775fffd21890d3'), 'employee_id': 18, 'name': 'Employee_18', 'department': 'Finance', 'age': 31, 'salary': 10705}
{'_id': ObjectId('6904adecf1775fffd21890d6'), 'employee_id': 21, 'name': 'Employee_21', 'department': 'HR', 'age': 40, 'salary': 8410}
{'_id': ObjectId('6904adecf1775fffd21890d7'), 'employee_id': 22, 'name': 'Employee_22', 'department': 'Operations', 'age': 42, 'salary': 6009}
{'_id': ObjectId('6904adecf1775fffd21890d8'), 'employee_id': 23, 'name': 'Employee_23', 'department': 'Finance', 'age': 44, 'salary': 5341}
{'_id': ObjectId('6904adecf1775fffd21890d9'), 'employee_id': 24, 'name': 'Employee_24', 'department': 'Sales', 'age': 31, 'salary': 9361}
{'_id': ObjectId('6904adecf1775fffd21890db'), 'employee_id': 26, 'name': 'Employee_26', 'department': 'Finance', 'age': 50, 'salary': 4547}
{'_id': ObjectId('6904adecf1775fffd21890dd'), 'employee_id': 28, 'name': 'Employee_28', 'department': 'Finance', 'age': 34, 'salary': 4077}
{'_id': ObjectId('6904adecf1775fffd21890df'), 'employee_id': 30, 'name': 'Employee_30', 'department': 'IT', 'age': 39, 'salary': 11117.7}
{'_id': ObjectId('6904adecf1775fffd21890e3'), 'employee_id': 34, 'name': 'Employee_34', 'department': 'IT', 'age': 32, 'salary': 9986.900000000001}
{'_id': ObjectId('6904adecf1775fffd21890e4'), 'employee_id': 35, 'name': 'Employee_35', 'department': 'HR', 'age': 49, 'salary': 6519}
{'_id': ObjectId('6904adecf1775fffd21890e6'), 'employee_id': 37, 'name': 'Employee_37', 'department': 'IT', 'age': 40, 'salary': 7764.900000000001}
{'_id': ObjectId('6904adecf1775fffd21890e9'), 'employee_id': 40, 'name': 'Employee_40', 'department': 'Operations', 'age': 37, 'salary': 10921}
{'_id': ObjectId('6904adecf1775fffd21890ea'), 'employee_id': 41, 'name': 'Employee_41', 'department': 'IT', 'age': 43, 'salary': 5181.0}
{'_id': ObjectId('6904adecf1775fffd21890ed'), 'employee_id': 44, 'name': 'Employee_44', 'department': 'HR', 'age': 48, 'salary': 7790}
{'_id': ObjectId('6904adecf1775fffd21890ef'), 'employee_id': 46, 'name': 'Employee_46', 'department': 'Operations', 'age': 30, 'salary': 11996}
{'_id': ObjectId('6904adecf1775fffd21890f0'), 'employee_id': 47, 'name': 'Employee_47', 'department': 'Sales', 'age': 47, 'salary': 4669}
{'_id': ObjectId('6904adecf1775fffd21890f1'), 'employee_id': 48, 'name': 'Employee_48', 'department': 'Finance', 'age': 39, 'salary': 8149}
{'_id': ObjectId('6904adecf1775fffd21890f2'), 'employee_id': 49, 'name': 'Employee_49', 'department': 'Marketing', 'age': 50, 'salary': 11197}
{'_id': ObjectId('6904adecf1775fffd21890f3'), 'employee_id': 50, 'name': 'Employee_50', 'department': 'Finance', 'age': 45, 'salary': 10087}
{'_id': ObjectId('6904adecf1775fffd21890f5'), 'employee_id': 52, 'name': 'Employee_52', 'department': 'Marketing', 'age': 44, 'salary': 9304}
{'_id': ObjectId('6904adecf1775fffd21890f6'), 'employee_id': 53, 'name': 'Employee_53', 'department': 'Finance', 'age': 35, 'salary': 8197}
{'_id': ObjectId('6904adecf1775fffd21890f7'), 'employee_id': 54, 'name': 'Employee_54', 'department': 'Finance', 'age': 50, 'salary': 4537}
{'_id': ObjectId('6904adecf1775fffd21890f8'), 'employee_id': 55, 'name': 'Employee_55', 'department': 'Finance', 'age': 41, 'salary': 7579}
{'_id': ObjectId('6904adecf1775fffd21890fb'), 'employee_id': 58, 'name': 'Employee_58', 'department': 'Finance', 'age': 49, 'salary': 5101}
{'_id': ObjectId('6904adecf1775fffd21890fc'), 'employee_id': 59, 'name': 'Employee_59', 'department': 'IT', 'age': 43, 'salary': 7948.6}
{'_id': ObjectId('6904adecf1775fffd21890fe'), 'employee_id': 61, 'name': 'Employee_61', 'department': 'IT', 'age': 32, 'salary': 5464.8}
{'_id': ObjectId('6904adecf1775fffd21890ff'), 'employee_id': 62, 'name': 'Employee_62', 'department': 'Operations', 'age': 50, 'salary': 11421}
{'_id': ObjectId('6904adecf1775fffd2189100'), 'employee_id': 63, 'name': 'Employee_63', 'department': 'Sales', 'age': 32, 'salary': 10190}
{'_id': ObjectId('6904adecf1775fffd2189103'), 'employee_id': 66, 'name': 'Employee_66', 'department': 'Marketing', 'age': 31, 'salary': 11966}
{'_id': ObjectId('6904adecf1775fffd2189104'), 'employee_id': 67, 'name': 'Employee_67', 'department': 'Operations', 'age': 34, 'salary': 7238}
{'_id': ObjectId('6904adecf1775fffd2189105'), 'employee_id': 68, 'name': 'Employee_68', 'department': 'Marketing', 'age': 43, 'salary': 10337}
{'_id': ObjectId('6904adecf1775fffd2189106'), 'employee_id': 69, 'name': 'Employee_69', 'department': 'HR', 'age': 41, 'salary': 7029}
{'_id': ObjectId('6904adecf1775fffd2189107'), 'employee_id': 70, 'name': 'Employee_70', 'department': 'Marketing', 'age': 37, 'salary': 9979}
{'_id': ObjectId('6904adecf1775fffd218910f'), 'employee_id': 78, 'name': 'Employee_78', 'department': 'Finance', 'age': 35, 'salary': 10531}
{'_id': ObjectId('6904adecf1775fffd2189110'), 'employee_id': 79, 'name': 'Employee_79', 'department': 'Sales', 'age': 41, 'salary': 5192}
{'_id': ObjectId('6904adecf1775fffd2189111'), 'employee_id': 80, 'name': 'Employee_80', 'department': 'Finance', 'age': 37, 'salary': 4290}
{'_id': ObjectId('6904adecf1775fffd2189113'), 'employee_id': 82, 'name': 'Employee_82', 'department': 'IT', 'age': 30, 'salary': 11997.7}
{'_id': ObjectId('6904adecf1775fffd2189114'), 'employee_id': 83, 'name': 'Employee_83', 'department': 'HR', 'age': 37, 'salary': 9589}
{'_id': ObjectId('6904adecf1775fffd2189115'), 'employee_id': 84, 'name': 'Employee_84', 'department': 'Operations', 'age': 40, 'salary': 9347}
{'_id': ObjectId('6904adecf1775fffd2189116'), 'employee_id': 85, 'name': 'Employee_85', 'department': 'Operations', 'age': 46, 'salary': 5903}
{'_id': ObjectId('6904adecf1775fffd2189117'), 'employee_id': 86, 'name': 'Employee_86', 'department': 'IT', 'age': 44, 'salary': 7111.500000000001}
{'_id': ObjectId('6904adecf1775fffd218911b'), 'employee_id': 90, 'name': 'Employee_90', 'department': 'Finance', 'age': 50, 'salary': 4993}
{'_id': ObjectId('6904adecf1775fffd218911d'), 'employee_id': 92, 'name': 'Employee_92', 'department': 'Sales', 'age': 33, 'salary': 9137}
{'_id': ObjectId('6904adecf1775fffd218911e'), 'employee_id': 93, 'name': 'Employee_93', 'department': 'HR', 'age': 33, 'salary': 9164}
{'_id': ObjectId('6904adecf1775fffd218911f'), 'employee_id': 94, 'name': 'Employee_94', 'department': 'Marketing', 'age': 48, 'salary': 6388}
{'_id': ObjectId('6904adecf1775fffd2189122'), 'employee_id': 97, 'name': 'Employee_97', 'department': 'IT', 'age': 50, 'salary': 13048.2}
{'_id': ObjectId('6904adecf1775fffd2189125'), 'employee_id': 100, 'name': 'Employee_100', 'department': 'Finance', 'age': 44, 'salary': 11023}

In [29]:
# Tugas 3
# Laporan ringkas: total gaji karyawan di setiap departemen dan rata-rata umur karyawan.

# Aggregation pipeline untuk menghitung total gaji dan rata-rata umur per departemen
pipeline = [
    {
        '$group': {
            '_id': '$department',
            'total_salary': {'$sum': '$salary'},
            'average_age': {'$avg': '$age'}
        }
    },
    {
        '$sort': {'_id': 1}  # Mengurutkan hasil berdasarkan nama departemen
    }
]

# Menampilkan hasil laporan
print("📋 Laporan Ringkas: Total Gaji dan Rata-rata Umur per Departemen\n")
for result in collection.aggregate(pipeline):
    print(f"Departemen: {result['_id']}")
    print(f"  Total Gaji     : {result['total_salary']}")
    print(f"  Rata-rata Umur : {result['average_age']:.2f} tahun\n")

📋 Laporan Ringkas: Total Gaji dan Rata-rata Umur per Departemen

Departemen: Finance
  Total Gaji     : 118681
  Rata-rata Umur : 41.41 tahun

Departemen: HR
  Total Gaji     : 54355
  Rata-rata Umur : 40.71 tahun

Departemen: IT
  Total Gaji     : 91703.70000000001
  Rata-rata Umur : 39.64 tahun

Departemen: Marketing
  Total Gaji     : 67400
  Rata-rata Umur : 41.38 tahun

Departemen: Operations
  Total Gaji     : 62835
  Rata-rata Umur : 39.86 tahun

Departemen: Sales
  Total Gaji     : 57945
  Rata-rata Umur : 37.00 tahun

In [41]:
# Tugas Tambahan

# Latihan 4.1: Buatlah koleksi baru products dan masukkan 100 data produk.
# Membuat koleksi baru 'products'
products_collection = db["products"]

# Menghapus data lama agar tidak duplikat
products_collection.delete_many({})

# Daftar kategori dan nama produk
categories = ["Elektronik", "Pakaian", "Makanan", "Peralatan Rumah", "Aksesoris", "Olahraga", "Kesehatan", "Mainan"]
product_names = [
    "Smartphone", "Laptop", "Kamera", "Headphone", "Keyboard", "Mouse", "Monitor", "TV",
    "Sepatu", "Jaket", "Kaos", "Celana", "Kemeja", "Topi", "Tas", "Jam Tangan",
    "Snack", "Minuman", "Roti", "Susu", "Coklat", "Kopi", "Mie Instan", "Saus",
    "Piring", "Sendok", "Kompor", "Vacuum Cleaner", "Blender", "Kulkas",
    "Cincin", "Kalung", "Gelang", "Anting", "Kacamata",
    "Bola", "Raket", "Treadmill", "Matras", "Sepeda",
    "Masker", "Vitamin", "Obat", "Suplemen", "Timbangan",
    "Puzzle", "Robot", "Boneka", "Lego", "Kartu Game"
]

# Membuat 100 data produk random
product_data = []
for i in range(100):
    product = {
        "product_id": i + 1,
        "name": random.choice(product_names) + f" {random.randint(100,999)}",
        "category": random.choice(categories),
        "price": random.randint(10000, 2000000),
        "stock": random.randint(0, 500),
        "rating": round(random.uniform(1.0, 5.0), 1)
    }
    product_data.append(product)

# Menambahkan data ke koleksi
products_collection.insert_many(product_data)

print("✅ Sebanyak 100 data produk berhasil dimasukkan ke koleksi 'products'!")

# Menampilkan data produk yang dibuat
print("\n📋 Data Produk yang Telah Dimasukkan:")
for product in products_collection.find():
    print(product)

✅ Sebanyak 100 data produk berhasil dimasukkan ke koleksi 'products'!

📋 Data Produk yang Telah Dimasukkan:
{'_id': ObjectId('6904af2bf1775fffd218931a'), 'product_id': 1, 'name': 'Suplemen 954', 'category': 'Aksesoris', 'price': 1806360, 'stock': 109, 'rating': 1.2}
{'_id': ObjectId('6904af2bf1775fffd218931b'), 'product_id': 2, 'name': 'Jaket 551', 'category': 'Aksesoris', 'price': 1337849, 'stock': 401, 'rating': 4.2}
{'_id': ObjectId('6904af2bf1775fffd218931c'), 'product_id': 3, 'name': 'Puzzle 729', 'category': 'Peralatan Rumah', 'price': 305537, 'stock': 499, 'rating': 4.8}
{'_id': ObjectId('6904af2bf1775fffd218931d'), 'product_id': 4, 'name': 'Kamera 520', 'category': 'Kesehatan', 'price': 726507, 'stock': 125, 'rating': 4.7}
{'_id': ObjectId('6904af2bf1775fffd218931e'), 'product_id': 5, 'name': 'Minuman 110', 'category': 'Makanan', 'price': 45744, 'stock': 391, 'rating': 2.6}
{'_id': ObjectId('6904af2bf1775fffd218931f'), 'product_id': 6, 'name': 'Puzzle 989', 'category': 'Makanan', 'price': 870947, 'stock': 266, 'rating': 2.0}
{'_id': ObjectId('6904af2bf1775fffd2189320'), 'product_id': 7, 'name': 'Celana 723', 'category': 'Olahraga', 'price': 1637456, 'stock': 392, 'rating': 4.2}
{'_id': ObjectId('6904af2bf1775fffd2189321'), 'product_id': 8, 'name': 'Mie Instan 797', 'category': 'Mainan', 'price': 1107545, 'stock': 243, 'rating': 3.6}
{'_id': ObjectId('6904af2bf1775fffd2189322'), 'product_id': 9, 'name': 'Masker 255', 'category': 'Olahraga', 'price': 932987, 'stock': 30, 'rating': 1.4}
{'_id': ObjectId('6904af2bf1775fffd2189323'), 'product_id': 10, 'name': 'Blender 654', 'category': 'Elektronik', 'price': 1330466, 'stock': 184, 'rating': 2.3}
{'_id': ObjectId('6904af2bf1775fffd2189324'), 'product_id': 11, 'name': 'Roti 501', 'category': 'Elektronik', 'price': 1610108, 'stock': 133, 'rating': 2.3}
{'_id': ObjectId('6904af2bf1775fffd2189325'), 'product_id': 12, 'name': 'Sepeda 862', 'category': 'Aksesoris', 'price': 388864, 'stock': 422, 'rating': 4.3}
{'_id': ObjectId('6904af2bf1775fffd2189326'), 'product_id': 13, 'name': 'Gelang 550', 'category': 'Peralatan Rumah', 'price': 578029, 'stock': 231, 'rating': 4.9}
{'_id': ObjectId('6904af2bf1775fffd2189327'), 'product_id': 14, 'name': 'Kopi 614', 'category': 'Elektronik', 'price': 440777, 'stock': 55, 'rating': 2.6}
{'_id': ObjectId('6904af2bf1775fffd2189328'), 'product_id': 15, 'name': 'Roti 433', 'category': 'Peralatan Rumah', 'price': 501692, 'stock': 138, 'rating': 4.8}
{'_id': ObjectId('6904af2bf1775fffd2189329'), 'product_id': 16, 'name': 'Vacuum Cleaner 976', 'category': 'Mainan', 'price': 414545, 'stock': 422, 'rating': 4.1}
{'_id': ObjectId('6904af2bf1775fffd218932a'), 'product_id': 17, 'name': 'Piring 928', 'category': 'Kesehatan', 'price': 1620706, 'stock': 189, 'rating': 4.2}
{'_id': ObjectId('6904af2bf1775fffd218932b'), 'product_id': 18, 'name': 'Jaket 449', 'category': 'Aksesoris', 'price': 1538289, 'stock': 301, 'rating': 3.8}
{'_id': ObjectId('6904af2bf1775fffd218932c'), 'product_id': 19, 'name': 'Monitor 973', 'category': 'Peralatan Rumah', 'price': 1932391, 'stock': 46, 'rating': 4.2}
{'_id': ObjectId('6904af2bf1775fffd218932d'), 'product_id': 20, 'name': 'Jam Tangan 213', 'category': 'Olahraga', 'price': 1768483, 'stock': 249, 'rating': 2.9}
{'_id': ObjectId('6904af2bf1775fffd218932e'), 'product_id': 21, 'name': 'Timbangan 852', 'category': 'Makanan', 'price': 923994, 'stock': 230, 'rating': 1.9}
{'_id': ObjectId('6904af2bf1775fffd218932f'), 'product_id': 22, 'name': 'Suplemen 527', 'category': 'Aksesoris', 'price': 711944, 'stock': 387, 'rating': 4.9}
{'_id': ObjectId('6904af2bf1775fffd2189330'), 'product_id': 23, 'name': 'Kacamata 730', 'category': 'Mainan', 'price': 866665, 'stock': 68, 'rating': 4.1}
{'_id': ObjectId('6904af2bf1775fffd2189331'), 'product_id': 24, 'name': 'Mie Instan 250', 'category': 'Aksesoris', 'price': 1719549, 'stock': 429, 'rating': 4.2}
{'_id': ObjectId('6904af2bf1775fffd2189332'), 'product_id': 25, 'name': 'Mie Instan 855', 'category': 'Pakaian', 'price': 819409, 'stock': 339, 'rating': 1.4}
{'_id': ObjectId('6904af2bf1775fffd2189333'), 'product_id': 26, 'name': 'Kartu Game 482', 'category': 'Makanan', 'price': 1284199, 'stock': 199, 'rating': 3.6}
{'_id': ObjectId('6904af2bf1775fffd2189334'), 'product_id': 27, 'name': 'Sepeda 351', 'category': 'Makanan', 'price': 1942422, 'stock': 173, 'rating': 3.5}
{'_id': ObjectId('6904af2bf1775fffd2189335'), 'product_id': 28, 'name': 'Obat 634', 'category': 'Kesehatan', 'price': 703148, 'stock': 199, 'rating': 2.9}
{'_id': ObjectId('6904af2bf1775fffd2189336'), 'product_id': 29, 'name': 'Obat 563', 'category': 'Peralatan Rumah', 'price': 1103314, 'stock': 56, 'rating': 3.5}
{'_id': ObjectId('6904af2bf1775fffd2189337'), 'product_id': 30, 'name': 'Coklat 274', 'category': 'Kesehatan', 'price': 599943, 'stock': 287, 'rating': 3.0}
{'_id': ObjectId('6904af2bf1775fffd2189338'), 'product_id': 31, 'name': 'Vacuum Cleaner 886', 'category': 'Makanan', 'price': 1564373, 'stock': 44, 'rating': 2.3}
{'_id': ObjectId('6904af2bf1775fffd2189339'), 'product_id': 32, 'name': 'Anting 149', 'category': 'Kesehatan', 'price': 1859916, 'stock': 161, 'rating': 2.5}
{'_id': ObjectId('6904af2bf1775fffd218933a'), 'product_id': 33, 'name': 'Mie Instan 267', 'category': 'Mainan', 'price': 893894, 'stock': 119, 'rating': 4.9}
{'_id': ObjectId('6904af2bf1775fffd218933b'), 'product_id': 34, 'name': 'Jam Tangan 981', 'category': 'Elektronik', 'price': 196698, 'stock': 317, 'rating': 1.5}
{'_id': ObjectId('6904af2bf1775fffd218933c'), 'product_id': 35, 'name': 'Celana 313', 'category': 'Aksesoris', 'price': 929175, 'stock': 459, 'rating': 4.2}
{'_id': ObjectId('6904af2bf1775fffd218933d'), 'product_id': 36, 'name': 'Puzzle 631', 'category': 'Olahraga', 'price': 1190286, 'stock': 208, 'rating': 2.0}
{'_id': ObjectId('6904af2bf1775fffd218933e'), 'product_id': 37, 'name': 'Obat 305', 'category': 'Aksesoris', 'price': 1792417, 'stock': 260, 'rating': 4.9}
{'_id': ObjectId('6904af2bf1775fffd218933f'), 'product_id': 38, 'name': 'Kemeja 908', 'category': 'Kesehatan', 'price': 1804055, 'stock': 438, 'rating': 2.4}
{'_id': ObjectId('6904af2bf1775fffd2189340'), 'product_id': 39, 'name': 'Obat 259', 'category': 'Mainan', 'price': 1073754, 'stock': 119, 'rating': 2.3}
{'_id': ObjectId('6904af2bf1775fffd2189341'), 'product_id': 40, 'name': 'Sepeda 591', 'category': 'Aksesoris', 'price': 474898, 'stock': 103, 'rating': 2.5}
{'_id': ObjectId('6904af2bf1775fffd2189342'), 'product_id': 41, 'name': 'Kemeja 902', 'category': 'Kesehatan', 'price': 63299, 'stock': 231, 'rating': 2.2}
{'_id': ObjectId('6904af2bf1775fffd2189343'), 'product_id': 42, 'name': 'Keyboard 861', 'category': 'Aksesoris', 'price': 587416, 'stock': 94, 'rating': 4.5}
{'_id': ObjectId('6904af2bf1775fffd2189344'), 'product_id': 43, 'name': 'Susu 527', 'category': 'Aksesoris', 'price': 1665904, 'stock': 232, 'rating': 5.0}
{'_id': ObjectId('6904af2bf1775fffd2189345'), 'product_id': 44, 'name': 'Roti 370', 'category': 'Aksesoris', 'price': 1405617, 'stock': 360, 'rating': 2.4}
{'_id': ObjectId('6904af2bf1775fffd2189346'), 'product_id': 45, 'name': 'Sepatu 260', 'category': 'Pakaian', 'price': 477025, 'stock': 84, 'rating': 3.7}
{'_id': ObjectId('6904af2bf1775fffd2189347'), 'product_id': 46, 'name': 'Kompor 315', 'category': 'Kesehatan', 'price': 942757, 'stock': 233, 'rating': 1.7}
{'_id': ObjectId('6904af2bf1775fffd2189348'), 'product_id': 47, 'name': 'Treadmill 365', 'category': 'Elektronik', 'price': 141537, 'stock': 386, 'rating': 4.5}
{'_id': ObjectId('6904af2bf1775fffd2189349'), 'product_id': 48, 'name': 'Kompor 757', 'category': 'Peralatan Rumah', 'price': 739558, 'stock': 185, 'rating': 3.9}
{'_id': ObjectId('6904af2bf1775fffd218934a'), 'product_id': 49, 'name': 'Matras 240', 'category': 'Peralatan Rumah', 'price': 1164323, 'stock': 163, 'rating': 4.1}
{'_id': ObjectId('6904af2bf1775fffd218934b'), 'product_id': 50, 'name': 'Tas 406', 'category': 'Mainan', 'price': 1818297, 'stock': 281, 'rating': 2.9}
{'_id': ObjectId('6904af2bf1775fffd218934c'), 'product_id': 51, 'name': 'Smartphone 253', 'category': 'Peralatan Rumah', 'price': 611102, 'stock': 432, 'rating': 1.1}
{'_id': ObjectId('6904af2bf1775fffd218934d'), 'product_id': 52, 'name': 'Gelang 577', 'category': 'Peralatan Rumah', 'price': 1668546, 'stock': 155, 'rating': 2.7}
{'_id': ObjectId('6904af2bf1775fffd218934e'), 'product_id': 53, 'name': 'Mie Instan 740', 'category': 'Peralatan Rumah', 'price': 1301140, 'stock': 276, 'rating': 3.9}
{'_id': ObjectId('6904af2bf1775fffd218934f'), 'product_id': 54, 'name': 'Sendok 806', 'category': 'Mainan', 'price': 155142, 'stock': 110, 'rating': 2.2}
{'_id': ObjectId('6904af2bf1775fffd2189350'), 'product_id': 55, 'name': 'Saus 229', 'category': 'Makanan', 'price': 1078836, 'stock': 17, 'rating': 4.6}
{'_id': ObjectId('6904af2bf1775fffd2189351'), 'product_id': 56, 'name': 'Anting 106', 'category': 'Peralatan Rumah', 'price': 945658, 'stock': 183, 'rating': 2.7}
{'_id': ObjectId('6904af2bf1775fffd2189352'), 'product_id': 57, 'name': 'Anting 837', 'category': 'Makanan', 'price': 1610665, 'stock': 8, 'rating': 2.4}
{'_id': ObjectId('6904af2bf1775fffd2189353'), 'product_id': 58, 'name': 'Puzzle 497', 'category': 'Olahraga', 'price': 1032747, 'stock': 378, 'rating': 3.6}
{'_id': ObjectId('6904af2bf1775fffd2189354'), 'product_id': 59, 'name': 'Raket 899', 'category': 'Olahraga', 'price': 516204, 'stock': 123, 'rating': 3.4}
{'_id': ObjectId('6904af2bf1775fffd2189355'), 'product_id': 60, 'name': 'Susu 483', 'category': 'Pakaian', 'price': 122802, 'stock': 23, 'rating': 4.5}
{'_id': ObjectId('6904af2bf1775fffd2189356'), 'product_id': 61, 'name': 'Blender 513', 'category': 'Aksesoris', 'price': 1908349, 'stock': 211, 'rating': 1.8}
{'_id': ObjectId('6904af2bf1775fffd2189357'), 'product_id': 62, 'name': 'Kamera 570', 'category': 'Mainan', 'price': 1993028, 'stock': 195, 'rating': 2.6}
{'_id': ObjectId('6904af2bf1775fffd2189358'), 'product_id': 63, 'name': 'Kompor 339', 'category': 'Elektronik', 'price': 1439958, 'stock': 463, 'rating': 1.7}
{'_id': ObjectId('6904af2bf1775fffd2189359'), 'product_id': 64, 'name': 'Anting 664', 'category': 'Elektronik', 'price': 844019, 'stock': 416, 'rating': 3.2}
{'_id': ObjectId('6904af2bf1775fffd218935a'), 'product_id': 65, 'name': 'Lego 755', 'category': 'Olahraga', 'price': 1386067, 'stock': 35, 'rating': 2.7}
{'_id': ObjectId('6904af2bf1775fffd218935b'), 'product_id': 66, 'name': 'Celana 223', 'category': 'Peralatan Rumah', 'price': 1938244, 'stock': 483, 'rating': 2.3}
{'_id': ObjectId('6904af2bf1775fffd218935c'), 'product_id': 67, 'name': 'Sendok 422', 'category': 'Elektronik', 'price': 1223825, 'stock': 423, 'rating': 4.7}
{'_id': ObjectId('6904af2bf1775fffd218935d'), 'product_id': 68, 'name': 'Kompor 379', 'category': 'Makanan', 'price': 463668, 'stock': 333, 'rating': 2.3}
{'_id': ObjectId('6904af2bf1775fffd218935e'), 'product_id': 69, 'name': 'Sepatu 876', 'category': 'Peralatan Rumah', 'price': 1242899, 'stock': 194, 'rating': 1.6}
{'_id': ObjectId('6904af2bf1775fffd218935f'), 'product_id': 70, 'name': 'Blender 280', 'category': 'Kesehatan', 'price': 1076345, 'stock': 338, 'rating': 2.2}
{'_id': ObjectId('6904af2bf1775fffd2189360'), 'product_id': 71, 'name': 'Sepeda 994', 'category': 'Kesehatan', 'price': 597065, 'stock': 331, 'rating': 1.7}
{'_id': ObjectId('6904af2bf1775fffd2189361'), 'product_id': 72, 'name': 'Minuman 164', 'category': 'Elektronik', 'price': 252248, 'stock': 167, 'rating': 1.9}
{'_id': ObjectId('6904af2bf1775fffd2189362'), 'product_id': 73, 'name': 'Cincin 545', 'category': 'Aksesoris', 'price': 525660, 'stock': 343, 'rating': 1.2}
{'_id': ObjectId('6904af2bf1775fffd2189363'), 'product_id': 74, 'name': 'Timbangan 724', 'category': 'Elektronik', 'price': 1596843, 'stock': 269, 'rating': 4.1}
{'_id': ObjectId('6904af2bf1775fffd2189364'), 'product_id': 75, 'name': 'Puzzle 263', 'category': 'Kesehatan', 'price': 1808529, 'stock': 407, 'rating': 2.8}
{'_id': ObjectId('6904af2bf1775fffd2189365'), 'product_id': 76, 'name': 'Jam Tangan 249', 'category': 'Pakaian', 'price': 1740164, 'stock': 259, 'rating': 5.0}
{'_id': ObjectId('6904af2bf1775fffd2189366'), 'product_id': 77, 'name': 'Vacuum Cleaner 109', 'category': 'Pakaian', 'price': 224592, 'stock': 179, 'rating': 3.5}
{'_id': ObjectId('6904af2bf1775fffd2189367'), 'product_id': 78, 'name': 'Jaket 636', 'category': 'Aksesoris', 'price': 1724268, 'stock': 438, 'rating': 1.7}
{'_id': ObjectId('6904af2bf1775fffd2189368'), 'product_id': 79, 'name': 'Obat 742', 'category': 'Makanan', 'price': 1448846, 'stock': 24, 'rating': 1.1}
{'_id': ObjectId('6904af2bf1775fffd2189369'), 'product_id': 80, 'name': 'Sepatu 522', 'category': 'Peralatan Rumah', 'price': 330122, 'stock': 230, 'rating': 3.3}
{'_id': ObjectId('6904af2bf1775fffd218936a'), 'product_id': 81, 'name': 'Mie Instan 373', 'category': 'Aksesoris', 'price': 153573, 'stock': 285, 'rating': 1.8}
{'_id': ObjectId('6904af2bf1775fffd218936b'), 'product_id': 82, 'name': 'Smartphone 327', 'category': 'Olahraga', 'price': 30949, 'stock': 429, 'rating': 4.4}
{'_id': ObjectId('6904af2bf1775fffd218936c'), 'product_id': 83, 'name': 'Lego 902', 'category': 'Peralatan Rumah', 'price': 1716199, 'stock': 203, 'rating': 4.0}
{'_id': ObjectId('6904af2bf1775fffd218936d'), 'product_id': 84, 'name': 'Tas 977', 'category': 'Aksesoris', 'price': 741339, 'stock': 138, 'rating': 3.7}
{'_id': ObjectId('6904af2bf1775fffd218936e'), 'product_id': 85, 'name': 'Gelang 183', 'category': 'Kesehatan', 'price': 837631, 'stock': 407, 'rating': 1.3}
{'_id': ObjectId('6904af2bf1775fffd218936f'), 'product_id': 86, 'name': 'Kemeja 387', 'category': 'Kesehatan', 'price': 1026615, 'stock': 264, 'rating': 4.8}
{'_id': ObjectId('6904af2bf1775fffd2189370'), 'product_id': 87, 'name': 'Cincin 458', 'category': 'Mainan', 'price': 518875, 'stock': 425, 'rating': 2.5}
{'_id': ObjectId('6904af2bf1775fffd2189371'), 'product_id': 88, 'name': 'Vitamin 207', 'category': 'Kesehatan', 'price': 147366, 'stock': 405, 'rating': 1.3}
{'_id': ObjectId('6904af2bf1775fffd2189372'), 'product_id': 89, 'name': 'Laptop 572', 'category': 'Kesehatan', 'price': 1585566, 'stock': 61, 'rating': 1.4}
{'_id': ObjectId('6904af2bf1775fffd2189373'), 'product_id': 90, 'name': 'Vacuum Cleaner 496', 'category': 'Mainan', 'price': 352718, 'stock': 255, 'rating': 2.6}
{'_id': ObjectId('6904af2bf1775fffd2189374'), 'product_id': 91, 'name': 'Piring 304', 'category': 'Peralatan Rumah', 'price': 618271, 'stock': 401, 'rating': 2.7}
{'_id': ObjectId('6904af2bf1775fffd2189375'), 'product_id': 92, 'name': 'Kartu Game 553', 'category': 'Aksesoris', 'price': 900069, 'stock': 500, 'rating': 3.7}
{'_id': ObjectId('6904af2bf1775fffd2189376'), 'product_id': 93, 'name': 'Jam Tangan 861', 'category': 'Makanan', 'price': 1673457, 'stock': 192, 'rating': 4.4}
{'_id': ObjectId('6904af2bf1775fffd2189377'), 'product_id': 94, 'name': 'Obat 306', 'category': 'Makanan', 'price': 1252786, 'stock': 426, 'rating': 4.0}
{'_id': ObjectId('6904af2bf1775fffd2189378'), 'product_id': 95, 'name': 'Headphone 169', 'category': 'Aksesoris', 'price': 1489742, 'stock': 64, 'rating': 2.0}
{'_id': ObjectId('6904af2bf1775fffd2189379'), 'product_id': 96, 'name': 'Boneka 268', 'category': 'Aksesoris', 'price': 875354, 'stock': 195, 'rating': 4.8}
{'_id': ObjectId('6904af2bf1775fffd218937a'), 'product_id': 97, 'name': 'Kopi 751', 'category': 'Aksesoris', 'price': 998770, 'stock': 422, 'rating': 2.4}
{'_id': ObjectId('6904af2bf1775fffd218937b'), 'product_id': 98, 'name': 'Saus 534', 'category': 'Olahraga', 'price': 1037499, 'stock': 213, 'rating': 2.9}
{'_id': ObjectId('6904af2bf1775fffd218937c'), 'product_id': 99, 'name': 'Minuman 635', 'category': 'Aksesoris', 'price': 314264, 'stock': 44, 'rating': 2.8}
{'_id': ObjectId('6904af2bf1775fffd218937d'), 'product_id': 100, 'name': 'Kopi 272', 'category': 'Mainan', 'price': 1583076, 'stock': 33, 'rating': 3.2}

In [42]:
# Latihan 4.2: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

# Hitung harga rata-rata semua produk
average_price_pipeline = [
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]
average_price_result = list(products_collection.aggregate(average_price_pipeline))
average_price = average_price_result[0]['average_price']

print(f"💵 Harga rata-rata semua produk: {average_price:.2f}\n")

# Query produk dengan harga di atas rata-rata
above_average_products = products_collection.find({'price': {'$gt': average_price}})

print("📦 Produk dengan Harga di Atas Rata-rata;")
for product in above_average_products:
    print(f"ID Produk   : {product['product_id']}")
    print(f"Nama Produk : {product['name']}")
    print(f"Kategori    : {product['category']}")
    print(f"Harga       : {product['price']}")
    print(f"Stok        : {product['stock']}")
    print(f"Rating      : {product['rating']}\n")

💵 Harga rata-rata semua produk: 1030167.68

📦 Produk dengan Harga di Atas Rata-rata;
ID Produk   : 1
Nama Produk : Suplemen 954
Kategori    : Aksesoris
Harga       : 1806360
Stok        : 109
Rating      : 1.2

ID Produk   : 2
Nama Produk : Jaket 551
Kategori    : Aksesoris
Harga       : 1337849
Stok        : 401
Rating      : 4.2

ID Produk   : 7
Nama Produk : Celana 723
Kategori    : Olahraga
Harga       : 1637456
Stok        : 392
Rating      : 4.2

ID Produk   : 8
Nama Produk : Mie Instan 797
Kategori    : Mainan
Harga       : 1107545
Stok        : 243
Rating      : 3.6

ID Produk   : 10
Nama Produk : Blender 654
Kategori    : Elektronik
Harga       : 1330466
Stok        : 184
Rating      : 2.3

ID Produk   : 11
Nama Produk : Roti 501
Kategori    : Elektronik
Harga       : 1610108
Stok        : 133
Rating      : 2.3

ID Produk   : 17
Nama Produk : Piring 928
Kategori    : Kesehatan
Harga       : 1620706
Stok        : 189
Rating      : 4.2

ID Produk   : 18
Nama Produk : Jaket 449
Kategori    : Aksesoris
Harga       : 1538289
Stok        : 301
Rating      : 3.8

ID Produk   : 19
Nama Produk : Monitor 973
Kategori    : Peralatan Rumah
Harga       : 1932391
Stok        : 46
Rating      : 4.2

ID Produk   : 20
Nama Produk : Jam Tangan 213
Kategori    : Olahraga
Harga       : 1768483
Stok        : 249
Rating      : 2.9

ID Produk   : 24
Nama Produk : Mie Instan 250
Kategori    : Aksesoris
Harga       : 1719549
Stok        : 429
Rating      : 4.2

ID Produk   : 26
Nama Produk : Kartu Game 482
Kategori    : Makanan
Harga       : 1284199
Stok        : 199
Rating      : 3.6

ID Produk   : 27
Nama Produk : Sepeda 351
Kategori    : Makanan
Harga       : 1942422
Stok        : 173
Rating      : 3.5

ID Produk   : 29
Nama Produk : Obat 563
Kategori    : Peralatan Rumah
Harga       : 1103314
Stok        : 56
Rating      : 3.5

ID Produk   : 31
Nama Produk : Vacuum Cleaner 886
Kategori    : Makanan
Harga       : 1564373
Stok        : 44
Rating      : 2.3

ID Produk   : 32
Nama Produk : Anting 149
Kategori    : Kesehatan
Harga       : 1859916
Stok        : 161
Rating      : 2.5

ID Produk   : 36
Nama Produk : Puzzle 631
Kategori    : Olahraga
Harga       : 1190286
Stok        : 208
Rating      : 2.0

ID Produk   : 37
Nama Produk : Obat 305
Kategori    : Aksesoris
Harga       : 1792417
Stok        : 260
Rating      : 4.9

ID Produk   : 38
Nama Produk : Kemeja 908
Kategori    : Kesehatan
Harga       : 1804055
Stok        : 438
Rating      : 2.4

ID Produk   : 39
Nama Produk : Obat 259
Kategori    : Mainan
Harga       : 1073754
Stok        : 119
Rating      : 2.3

ID Produk   : 43
Nama Produk : Susu 527
Kategori    : Aksesoris
Harga       : 1665904
Stok        : 232
Rating      : 5.0

ID Produk   : 44
Nama Produk : Roti 370
Kategori    : Aksesoris
Harga       : 1405617
Stok        : 360
Rating      : 2.4

ID Produk   : 49
Nama Produk : Matras 240
Kategori    : Peralatan Rumah
Harga       : 1164323
Stok        : 163
Rating      : 4.1

ID Produk   : 50
Nama Produk : Tas 406
Kategori    : Mainan
Harga       : 1818297
Stok        : 281
Rating      : 2.9

ID Produk   : 52
Nama Produk : Gelang 577
Kategori    : Peralatan Rumah
Harga       : 1668546
Stok        : 155
Rating      : 2.7

ID Produk   : 53
Nama Produk : Mie Instan 740
Kategori    : Peralatan Rumah
Harga       : 1301140
Stok        : 276
Rating      : 3.9

ID Produk   : 55
Nama Produk : Saus 229
Kategori    : Makanan
Harga       : 1078836
Stok        : 17
Rating      : 4.6

ID Produk   : 57
Nama Produk : Anting 837
Kategori    : Makanan
Harga       : 1610665
Stok        : 8
Rating      : 2.4

ID Produk   : 58
Nama Produk : Puzzle 497
Kategori    : Olahraga
Harga       : 1032747
Stok        : 378
Rating      : 3.6

ID Produk   : 61
Nama Produk : Blender 513
Kategori    : Aksesoris
Harga       : 1908349
Stok        : 211
Rating      : 1.8

ID Produk   : 62
Nama Produk : Kamera 570
Kategori    : Mainan
Harga       : 1993028
Stok        : 195
Rating      : 2.6

ID Produk   : 63
Nama Produk : Kompor 339
Kategori    : Elektronik
Harga       : 1439958
Stok        : 463
Rating      : 1.7

ID Produk   : 65
Nama Produk : Lego 755
Kategori    : Olahraga
Harga       : 1386067
Stok        : 35
Rating      : 2.7

ID Produk   : 66
Nama Produk : Celana 223
Kategori    : Peralatan Rumah
Harga       : 1938244
Stok        : 483
Rating      : 2.3

ID Produk   : 67
Nama Produk : Sendok 422
Kategori    : Elektronik
Harga       : 1223825
Stok        : 423
Rating      : 4.7

ID Produk   : 69
Nama Produk : Sepatu 876
Kategori    : Peralatan Rumah
Harga       : 1242899
Stok        : 194
Rating      : 1.6

ID Produk   : 70
Nama Produk : Blender 280
Kategori    : Kesehatan
Harga       : 1076345
Stok        : 338
Rating      : 2.2

ID Produk   : 74
Nama Produk : Timbangan 724
Kategori    : Elektronik
Harga       : 1596843
Stok        : 269
Rating      : 4.1

ID Produk   : 75
Nama Produk : Puzzle 263
Kategori    : Kesehatan
Harga       : 1808529
Stok        : 407
Rating      : 2.8

ID Produk   : 76
Nama Produk : Jam Tangan 249
Kategori    : Pakaian
Harga       : 1740164
Stok        : 259
Rating      : 5.0

ID Produk   : 78
Nama Produk : Jaket 636
Kategori    : Aksesoris
Harga       : 1724268
Stok        : 438
Rating      : 1.7

ID Produk   : 79
Nama Produk : Obat 742
Kategori    : Makanan
Harga       : 1448846
Stok        : 24
Rating      : 1.1

ID Produk   : 83
Nama Produk : Lego 902
Kategori    : Peralatan Rumah
Harga       : 1716199
Stok        : 203
Rating      : 4.0

ID Produk   : 89
Nama Produk : Laptop 572
Kategori    : Kesehatan
Harga       : 1585566
Stok        : 61
Rating      : 1.4

ID Produk   : 93
Nama Produk : Jam Tangan 861
Kategori    : Makanan
Harga       : 1673457
Stok        : 192
Rating      : 4.4

ID Produk   : 94
Nama Produk : Obat 306
Kategori    : Makanan
Harga       : 1252786
Stok        : 426
Rating      : 4.0

ID Produk   : 95
Nama Produk : Headphone 169
Kategori    : Aksesoris
Harga       : 1489742
Stok        : 64
Rating      : 2.0

ID Produk   : 98
Nama Produk : Saus 534
Kategori    : Olahraga
Harga       : 1037499
Stok        : 213
Rating      : 2.9

ID Produk   : 100
Nama Produk : Kopi 272
Kategori    : Mainan
Harga       : 1583076
Stok        : 33
Rating      : 3.2

In [43]:
# Latihan 4.3: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.
# Aggregation pipeline untuk menghitung total produk per kategori
pipeline = [
    {
        '$group': {
            '_id': '$category',
            'total_products': {'$sum': 1}
        }
    },
    {
        '$sort': {'total_products': -1}  # urutkan dari kategori dengan jumlah produk terbanyak
    }
]

# Menjalankan pipeline dan menampilkan hasil
print("Total Produk per Kategori: \n")
for result in products_collection.aggregate(pipeline):
    print(f"Kategori       : {result['_id']}")
    print(f"Total Produk  : {result['total_products']}\n")

Total Produk per Kategori:

Kategori       : Aksesoris
Total Produk  : 22

Kategori       : Peralatan Rumah
Total Produk  : 16

Kategori       : Kesehatan
Total Produk  : 15

Kategori       : Makanan
Total Produk  : 12

Kategori       : Mainan
Total Produk  : 11

Kategori       : Elektronik
Total Produk  : 10

Kategori       : Olahraga
Total Produk  : 9

Kategori       : Pakaian
Total Produk  : 5