In [2]:
!pip install pymongo pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.15.3-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 3.2 MB/s eta 0:00:00m eta 0:00:010:01:01
Collecting pandas
  Downloading pandas-2.3.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 1.6 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 KB 966.3 kB/s eta 0:00:00 MB/s eta 0:00:01:01
Requirement already satisfied: tzdata>=2022.7 in ./.local/lib/python3.10/site-packages (from pandas) (2025.2)
Collecting numpy>=1.22.4
  Downloading numpy-2.2.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.8/16.8 MB 1.4 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01m
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: numpy, dnspython, pymongo, pandas
  WARNING: The scripts f2py and numpy-config are installed in '/home/septianadaw/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  NOTE: The current PATH contains path(s) starting with `~`, which may not be expanded by all applications.
Successfully installed dnspython-2.8.0 numpy-2.2.6 pandas-2.3.3 pymongo-4.15.3

In [11]:
# 1. Menghubungkan ke Database MongoDB
# Tugas 1: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [30]:
# 2. Operasi CRUD Dasar
# Tugas 2: Insert, Update, dan Delete data pada koleksi employees.
import random

# Daftar departemen
departments = ['Finance', 'HR', 'IT', 'Marketing', 'Sales', 'Operations']

# Insert 100 data karyawan
for i in range(1, 101):
    employee_data = {
        'employee_id': i,
        'name': f'Employee_{i}',
        'department': random.choice(departments),
        'age': random.randint(21, 55),
        'salary': random.randint(3000, 12000)
    }
    collection.insert_one(employee_data)

print("✅ 100 data karyawan berhasil ditambahkan ke koleksi 'employees'")

# Menampilkan 10 data pertama untuk memastikan data sudah masuk
print("\n📋 Data yang berhasil ditambahkan (10 data pertama):")
for emp in collection.find().limit(10):
    print(emp)

# Update Data
result = collection.update_many(
    {'department': 'IT'},  # kondisi
    {'$mul': {'salary': 1.1}}  # operasi: kalikan salary 1.1 (naik 10%)
)
print(f"\n✅ {result.modified_count} data karyawan departemen IT berhasil diperbarui.")

# Delete Data
result = collection.delete_many({'age': {'$gt': 50}})
print(f"🗑️ {result.deleted_count} data karyawan dengan usia > 50 tahun berhasil dihapus.")

print("Jumlah data tersisa:", collection.count_documents({}))

✅ 100 data karyawan berhasil ditambahkan ke koleksi 'employees'

📋 Data yang berhasil ditambahkan (10 data pertama):
{'_id': ObjectId('690439e58d6b2495677813c2'), 'employee_id': 1, 'name': 'Employee_1', 'department': 'Sales', 'age': 34, 'salary': 5980}
{'_id': ObjectId('690439e58d6b2495677813c3'), 'employee_id': 2, 'name': 'Employee_2', 'department': 'Finance', 'age': 54, 'salary': 8100}
{'_id': ObjectId('690439e58d6b2495677813c4'), 'employee_id': 3, 'name': 'Employee_3', 'department': 'Marketing', 'age': 24, 'salary': 7808}
{'_id': ObjectId('690439e58d6b2495677813c5'), 'employee_id': 4, 'name': 'Employee_4', 'department': 'IT', 'age': 35, 'salary': 7945}
{'_id': ObjectId('690439e58d6b2495677813c6'), 'employee_id': 5, 'name': 'Employee_5', 'department': 'Operations', 'age': 26, 'salary': 6629}
{'_id': ObjectId('690439e58d6b2495677813c7'), 'employee_id': 6, 'name': 'Employee_6', 'department': 'Sales', 'age': 44, 'salary': 3449}
{'_id': ObjectId('690439e58d6b2495677813c8'), 'employee_id': 7, 'name': 'Employee_7', 'department': 'HR', 'age': 55, 'salary': 3679}
{'_id': ObjectId('690439e58d6b2495677813c9'), 'employee_id': 8, 'name': 'Employee_8', 'department': 'IT', 'age': 30, 'salary': 9921}
{'_id': ObjectId('690439e58d6b2495677813ca'), 'employee_id': 9, 'name': 'Employee_9', 'department': 'Sales', 'age': 23, 'salary': 3073}
{'_id': ObjectId('690439e58d6b2495677813cb'), 'employee_id': 10, 'name': 'Employee_10', 'department': 'Marketing', 'age': 52, 'salary': 7970}

✅ 20 data karyawan departemen IT berhasil diperbarui.
🗑️ 16 data karyawan dengan usia > 50 tahun berhasil dihapus.
Jumlah data tersisa: 84

In [31]:
# Contoh Query Data
print("📋Data Karyawan dari Koleksi 'employees'📋\n")
for employee in collection.find():
    print(employee)

📋Data Karyawan dari Koleksi 'employees'📋

{'_id': ObjectId('690439e58d6b2495677813c2'), 'employee_id': 1, 'name': 'Employee_1', 'department': 'Sales', 'age': 34, 'salary': 5980}
{'_id': ObjectId('690439e58d6b2495677813c4'), 'employee_id': 3, 'name': 'Employee_3', 'department': 'Marketing', 'age': 24, 'salary': 7808}
{'_id': ObjectId('690439e58d6b2495677813c5'), 'employee_id': 4, 'name': 'Employee_4', 'department': 'IT', 'age': 35, 'salary': 8739.5}
{'_id': ObjectId('690439e58d6b2495677813c6'), 'employee_id': 5, 'name': 'Employee_5', 'department': 'Operations', 'age': 26, 'salary': 6629}
{'_id': ObjectId('690439e58d6b2495677813c7'), 'employee_id': 6, 'name': 'Employee_6', 'department': 'Sales', 'age': 44, 'salary': 3449}
{'_id': ObjectId('690439e58d6b2495677813c9'), 'employee_id': 8, 'name': 'Employee_8', 'department': 'IT', 'age': 30, 'salary': 10913.1}
{'_id': ObjectId('690439e58d6b2495677813ca'), 'employee_id': 9, 'name': 'Employee_9', 'department': 'Sales', 'age': 23, 'salary': 3073}
{'_id': ObjectId('690439e58d6b2495677813cd'), 'employee_id': 12, 'name': 'Employee_12', 'department': 'Finance', 'age': 25, 'salary': 7551}
{'_id': ObjectId('690439e58d6b2495677813ce'), 'employee_id': 13, 'name': 'Employee_13', 'department': 'Operations', 'age': 44, 'salary': 6969}
{'_id': ObjectId('690439e58d6b2495677813cf'), 'employee_id': 14, 'name': 'Employee_14', 'department': 'IT', 'age': 47, 'salary': 10291.6}
{'_id': ObjectId('690439e58d6b2495677813d0'), 'employee_id': 15, 'name': 'Employee_15', 'department': 'HR', 'age': 29, 'salary': 10793}
{'_id': ObjectId('690439e58d6b2495677813d1'), 'employee_id': 16, 'name': 'Employee_16', 'department': 'Sales', 'age': 45, 'salary': 6419}
{'_id': ObjectId('690439e58d6b2495677813d2'), 'employee_id': 17, 'name': 'Employee_17', 'department': 'IT', 'age': 30, 'salary': 7982.700000000001}
{'_id': ObjectId('690439e58d6b2495677813d3'), 'employee_id': 18, 'name': 'Employee_18', 'department': 'Operations', 'age': 26, 'salary': 10444}
{'_id': ObjectId('690439e58d6b2495677813d4'), 'employee_id': 19, 'name': 'Employee_19', 'department': 'Marketing', 'age': 24, 'salary': 3346}
{'_id': ObjectId('690439e58d6b2495677813d5'), 'employee_id': 20, 'name': 'Employee_20', 'department': 'IT', 'age': 26, 'salary': 4606.8}
{'_id': ObjectId('690439e58d6b2495677813d6'), 'employee_id': 21, 'name': 'Employee_21', 'department': 'HR', 'age': 36, 'salary': 6769}
{'_id': ObjectId('690439e58d6b2495677813d7'), 'employee_id': 22, 'name': 'Employee_22', 'department': 'IT', 'age': 26, 'salary': 10026.5}
{'_id': ObjectId('690439e58d6b2495677813d9'), 'employee_id': 24, 'name': 'Employee_24', 'department': 'IT', 'age': 28, 'salary': 12162.7}
{'_id': ObjectId('690439e58d6b2495677813da'), 'employee_id': 25, 'name': 'Employee_25', 'department': 'IT', 'age': 27, 'salary': 9656.900000000001}
{'_id': ObjectId('690439e58d6b2495677813db'), 'employee_id': 26, 'name': 'Employee_26', 'department': 'IT', 'age': 25, 'salary': 8254.400000000001}
{'_id': ObjectId('690439e58d6b2495677813dc'), 'employee_id': 27, 'name': 'Employee_27', 'department': 'Sales', 'age': 34, 'salary': 7854}
{'_id': ObjectId('690439e58d6b2495677813dd'), 'employee_id': 28, 'name': 'Employee_28', 'department': 'HR', 'age': 24, 'salary': 10117}
{'_id': ObjectId('690439e58d6b2495677813de'), 'employee_id': 29, 'name': 'Employee_29', 'department': 'Marketing', 'age': 37, 'salary': 5555}
{'_id': ObjectId('690439e58d6b2495677813df'), 'employee_id': 30, 'name': 'Employee_30', 'department': 'IT', 'age': 46, 'salary': 8695.5}
{'_id': ObjectId('690439e58d6b2495677813e1'), 'employee_id': 32, 'name': 'Employee_32', 'department': 'IT', 'age': 38, 'salary': 10976.900000000001}
{'_id': ObjectId('690439e58d6b2495677813e2'), 'employee_id': 33, 'name': 'Employee_33', 'department': 'Operations', 'age': 42, 'salary': 4152}
{'_id': ObjectId('690439e58d6b2495677813e3'), 'employee_id': 34, 'name': 'Employee_34', 'department': 'Sales', 'age': 33, 'salary': 8941}
{'_id': ObjectId('690439e58d6b2495677813e4'), 'employee_id': 35, 'name': 'Employee_35', 'department': 'IT', 'age': 37, 'salary': 11540.1}
{'_id': ObjectId('690439e58d6b2495677813e5'), 'employee_id': 36, 'name': 'Employee_36', 'department': 'Finance', 'age': 49, 'salary': 9182}
{'_id': ObjectId('690439e58d6b2495677813e6'), 'employee_id': 37, 'name': 'Employee_37', 'department': 'IT', 'age': 47, 'salary': 9720.7}
{'_id': ObjectId('690439e58d6b2495677813e8'), 'employee_id': 39, 'name': 'Employee_39', 'department': 'Finance', 'age': 39, 'salary': 4513}
{'_id': ObjectId('690439e58d6b2495677813e9'), 'employee_id': 40, 'name': 'Employee_40', 'department': 'Finance', 'age': 30, 'salary': 6993}
{'_id': ObjectId('690439e58d6b2495677813ea'), 'employee_id': 41, 'name': 'Employee_41', 'department': 'HR', 'age': 35, 'salary': 3248}
{'_id': ObjectId('690439e68d6b2495677813eb'), 'employee_id': 42, 'name': 'Employee_42', 'department': 'Sales', 'age': 26, 'salary': 3327}
{'_id': ObjectId('690439e68d6b2495677813ec'), 'employee_id': 43, 'name': 'Employee_43', 'department': 'Finance', 'age': 37, 'salary': 11960}
{'_id': ObjectId('690439e68d6b2495677813ed'), 'employee_id': 44, 'name': 'Employee_44', 'department': 'Operations', 'age': 32, 'salary': 11421}
{'_id': ObjectId('690439e68d6b2495677813ee'), 'employee_id': 45, 'name': 'Employee_45', 'department': 'Finance', 'age': 45, 'salary': 11093}
{'_id': ObjectId('690439e68d6b2495677813f0'), 'employee_id': 47, 'name': 'Employee_47', 'department': 'Marketing', 'age': 36, 'salary': 4509}
{'_id': ObjectId('690439e68d6b2495677813f3'), 'employee_id': 50, 'name': 'Employee_50', 'department': 'Finance', 'age': 21, 'salary': 11474}
{'_id': ObjectId('690439e68d6b2495677813f4'), 'employee_id': 51, 'name': 'Employee_51', 'department': 'Sales', 'age': 43, 'salary': 7401}
{'_id': ObjectId('690439e68d6b2495677813f5'), 'employee_id': 52, 'name': 'Employee_52', 'department': 'Finance', 'age': 32, 'salary': 10673}
{'_id': ObjectId('690439e68d6b2495677813f6'), 'employee_id': 53, 'name': 'Employee_53', 'department': 'HR', 'age': 35, 'salary': 8302}
{'_id': ObjectId('690439e68d6b2495677813f8'), 'employee_id': 55, 'name': 'Employee_55', 'department': 'HR', 'age': 29, 'salary': 9612}
{'_id': ObjectId('690439e68d6b2495677813f9'), 'employee_id': 56, 'name': 'Employee_56', 'department': 'Marketing', 'age': 46, 'salary': 7767}
{'_id': ObjectId('690439e68d6b2495677813fa'), 'employee_id': 57, 'name': 'Employee_57', 'department': 'Marketing', 'age': 22, 'salary': 4620}
{'_id': ObjectId('690439e68d6b2495677813fb'), 'employee_id': 58, 'name': 'Employee_58', 'department': 'IT', 'age': 44, 'salary': 9738.300000000001}
{'_id': ObjectId('690439e68d6b2495677813fc'), 'employee_id': 59, 'name': 'Employee_59', 'department': 'Finance', 'age': 37, 'salary': 3400}
{'_id': ObjectId('690439e68d6b2495677813fe'), 'employee_id': 61, 'name': 'Employee_61', 'department': 'IT', 'age': 39, 'salary': 4088.7000000000003}
{'_id': ObjectId('690439e68d6b2495677813ff'), 'employee_id': 62, 'name': 'Employee_62', 'department': 'Operations', 'age': 47, 'salary': 3904}
{'_id': ObjectId('690439e68d6b249567781400'), 'employee_id': 63, 'name': 'Employee_63', 'department': 'Sales', 'age': 44, 'salary': 4480}
{'_id': ObjectId('690439e68d6b249567781401'), 'employee_id': 64, 'name': 'Employee_64', 'department': 'Sales', 'age': 36, 'salary': 5466}
{'_id': ObjectId('690439e68d6b249567781402'), 'employee_id': 65, 'name': 'Employee_65', 'department': 'Operations', 'age': 28, 'salary': 6397}
{'_id': ObjectId('690439e68d6b249567781403'), 'employee_id': 66, 'name': 'Employee_66', 'department': 'HR', 'age': 24, 'salary': 5347}
{'_id': ObjectId('690439e68d6b249567781404'), 'employee_id': 67, 'name': 'Employee_67', 'department': 'Sales', 'age': 41, 'salary': 7326}
{'_id': ObjectId('690439e68d6b249567781405'), 'employee_id': 68, 'name': 'Employee_68', 'department': 'HR', 'age': 25, 'salary': 9460}
{'_id': ObjectId('690439e68d6b249567781406'), 'employee_id': 69, 'name': 'Employee_69', 'department': 'Operations', 'age': 41, 'salary': 9761}
{'_id': ObjectId('690439e68d6b249567781408'), 'employee_id': 71, 'name': 'Employee_71', 'department': 'Marketing', 'age': 47, 'salary': 8867}
{'_id': ObjectId('690439e68d6b249567781409'), 'employee_id': 72, 'name': 'Employee_72', 'department': 'HR', 'age': 32, 'salary': 8469}
{'_id': ObjectId('690439e68d6b24956778140a'), 'employee_id': 73, 'name': 'Employee_73', 'department': 'Operations', 'age': 25, 'salary': 7343}
{'_id': ObjectId('690439e68d6b24956778140b'), 'employee_id': 74, 'name': 'Employee_74', 'department': 'Operations', 'age': 23, 'salary': 11460}
{'_id': ObjectId('690439e68d6b24956778140c'), 'employee_id': 75, 'name': 'Employee_75', 'department': 'Operations', 'age': 38, 'salary': 11175}
{'_id': ObjectId('690439e68d6b24956778140d'), 'employee_id': 76, 'name': 'Employee_76', 'department': 'HR', 'age': 44, 'salary': 11866}
{'_id': ObjectId('690439e68d6b24956778140e'), 'employee_id': 77, 'name': 'Employee_77', 'department': 'Finance', 'age': 37, 'salary': 8004}
{'_id': ObjectId('690439e68d6b24956778140f'), 'employee_id': 78, 'name': 'Employee_78', 'department': 'Finance', 'age': 27, 'salary': 11954}
{'_id': ObjectId('690439e68d6b249567781410'), 'employee_id': 79, 'name': 'Employee_79', 'department': 'Operations', 'age': 29, 'salary': 5711}
{'_id': ObjectId('690439e68d6b249567781412'), 'employee_id': 81, 'name': 'Employee_81', 'department': 'IT', 'age': 28, 'salary': 10015.5}
{'_id': ObjectId('690439e68d6b249567781413'), 'employee_id': 82, 'name': 'Employee_82', 'department': 'Operations', 'age': 30, 'salary': 11592}
{'_id': ObjectId('690439e68d6b249567781414'), 'employee_id': 83, 'name': 'Employee_83', 'department': 'HR', 'age': 44, 'salary': 8269}
{'_id': ObjectId('690439e68d6b249567781416'), 'employee_id': 85, 'name': 'Employee_85', 'department': 'Operations', 'age': 25, 'salary': 9328}
{'_id': ObjectId('690439e68d6b249567781417'), 'employee_id': 86, 'name': 'Employee_86', 'department': 'Operations', 'age': 25, 'salary': 11547}
{'_id': ObjectId('690439e68d6b249567781418'), 'employee_id': 87, 'name': 'Employee_87', 'department': 'Operations', 'age': 33, 'salary': 7716}
{'_id': ObjectId('690439e68d6b24956778141a'), 'employee_id': 89, 'name': 'Employee_89', 'department': 'Finance', 'age': 27, 'salary': 11159}
{'_id': ObjectId('690439e68d6b24956778141b'), 'employee_id': 90, 'name': 'Employee_90', 'department': 'IT', 'age': 24, 'salary': 10392.800000000001}
{'_id': ObjectId('690439e68d6b24956778141c'), 'employee_id': 91, 'name': 'Employee_91', 'department': 'IT', 'age': 21, 'salary': 4088.7000000000003}
{'_id': ObjectId('690439e68d6b24956778141d'), 'employee_id': 92, 'name': 'Employee_92', 'department': 'Finance', 'age': 49, 'salary': 4898}
{'_id': ObjectId('690439e68d6b24956778141e'), 'employee_id': 93, 'name': 'Employee_93', 'department': 'HR', 'age': 31, 'salary': 5790}
{'_id': ObjectId('690439e68d6b24956778141f'), 'employee_id': 94, 'name': 'Employee_94', 'department': 'Finance', 'age': 39, 'salary': 8016}
{'_id': ObjectId('690439e68d6b249567781420'), 'employee_id': 95, 'name': 'Employee_95', 'department': 'HR', 'age': 24, 'salary': 3136}
{'_id': ObjectId('690439e68d6b249567781421'), 'employee_id': 96, 'name': 'Employee_96', 'department': 'HR', 'age': 29, 'salary': 3527}
{'_id': ObjectId('690439e68d6b249567781422'), 'employee_id': 97, 'name': 'Employee_97', 'department': 'Finance', 'age': 48, 'salary': 5541}
{'_id': ObjectId('690439e68d6b249567781423'), 'employee_id': 98, 'name': 'Employee_98', 'department': 'Finance', 'age': 43, 'salary': 8197}
{'_id': ObjectId('690439e68d6b249567781424'), 'employee_id': 99, 'name': 'Employee_99', 'department': 'HR', 'age': 25, 'salary': 8596}
{'_id': ObjectId('690439e68d6b249567781425'), 'employee_id': 100, 'name': 'Employee_100', 'department': 'Marketing', 'age': 41, 'salary': 3930}

In [32]:
# 3. Query Lebih Kompleks Menggunakan Aggregation
# Tugas 3: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]

print("📊 Rata-rata Gaji per Departemen:\n")
for result in collection.aggregate(pipeline):
    print(result)

📊 Rata-rata Gaji per Departemen:

{'_id': 'HR', 'average_salary': 7553.4}
{'_id': 'Sales', 'average_salary': 5792.363636363636}
{'_id': 'Operations', 'average_salary': 8471.8125}
{'_id': 'Marketing', 'average_salary': 5800.25}
{'_id': 'IT', 'average_salary': 8993.966666666667}
{'_id': 'Finance', 'average_salary': 8413.0}

In [33]:
# 5. TUGAS
# TUGAS 1: Aggregation Pipeline untuk mencari 5 karyawan dengan gaji tertinggi di setiap departemen

pipeline_top5 = [
    # Urutkan semua data berdasarkan 'department' (ascending) dan 'salary' (descending)
    {'$sort': {'department': 1, 'salary': -1}},

    # Kelompokkan berdasarkan departemen
    {'$group': {
        '_id': '$department',
        'top_employees': {
            '$push': {  # Simpan semua data karyawan dalam daftar (array)
                'name': '$name',
                'salary': '$salary',
                'age': '$age',
                'employee_id': '$employee_id'
            }
        }
    }},

    # Ambil hanya 5 data karyawan teratas (gaji tertinggi) dalam setiap departemen
    {'$project': {
        '_id': 1,
        'top_5_employees': {'$slice': ['$top_employees', 5]}  # Ambil 5 elemen pertama dari array
    }}
]

results = collection.aggregate(pipeline_top5)

# Tampilkan hasil 
print("🏆 5 Karyawan dengan Gaji Tertinggi per Departemen\n")
for dept in results:
    print(f"Departemen: {dept['_id']}")
    print("Top 5 Karyawan:")
    for emp in dept['top_5_employees']:
        print(f"{emp['name']} | Gaji: ${emp['salary']} | Usia: {emp['age']} | ID: {emp['employee_id']}")
    print()

🏆 5 Karyawan dengan Gaji Tertinggi per Departemen

Departemen: IT
Top 5 Karyawan:
Employee_24 | Gaji: $12162.7 | Usia: 28 | ID: 24
Employee_35 | Gaji: $11540.1 | Usia: 37 | ID: 35
Employee_32 | Gaji: $10976.900000000001 | Usia: 38 | ID: 32
Employee_8 | Gaji: $10913.1 | Usia: 30 | ID: 8
Employee_90 | Gaji: $10392.800000000001 | Usia: 24 | ID: 90

Departemen: Sales
Top 5 Karyawan:
Employee_34 | Gaji: $8941 | Usia: 33 | ID: 34
Employee_27 | Gaji: $7854 | Usia: 34 | ID: 27
Employee_51 | Gaji: $7401 | Usia: 43 | ID: 51
Employee_67 | Gaji: $7326 | Usia: 41 | ID: 67
Employee_16 | Gaji: $6419 | Usia: 45 | ID: 16

Departemen: Operations
Top 5 Karyawan:
Employee_82 | Gaji: $11592 | Usia: 30 | ID: 82
Employee_86 | Gaji: $11547 | Usia: 25 | ID: 86
Employee_74 | Gaji: $11460 | Usia: 23 | ID: 74
Employee_44 | Gaji: $11421 | Usia: 32 | ID: 44
Employee_75 | Gaji: $11175 | Usia: 38 | ID: 75

Departemen: Marketing
Top 5 Karyawan:
Employee_71 | Gaji: $8867 | Usia: 47 | ID: 71
Employee_3 | Gaji: $7808 | Usia: 24 | ID: 3
Employee_56 | Gaji: $7767 | Usia: 46 | ID: 56
Employee_29 | Gaji: $5555 | Usia: 37 | ID: 29
Employee_57 | Gaji: $4620 | Usia: 22 | ID: 57

Departemen: Finance
Top 5 Karyawan:
Employee_43 | Gaji: $11960 | Usia: 37 | ID: 43
Employee_78 | Gaji: $11954 | Usia: 27 | ID: 78
Employee_50 | Gaji: $11474 | Usia: 21 | ID: 50
Employee_89 | Gaji: $11159 | Usia: 27 | ID: 89
Employee_45 | Gaji: $11093 | Usia: 45 | ID: 45

Departemen: HR
Top 5 Karyawan:
Employee_76 | Gaji: $11866 | Usia: 44 | ID: 76
Employee_15 | Gaji: $10793 | Usia: 29 | ID: 15
Employee_28 | Gaji: $10117 | Usia: 24 | ID: 28
Employee_55 | Gaji: $9612 | Usia: 29 | ID: 55
Employee_68 | Gaji: $9460 | Usia: 25 | ID: 68

In [34]:
# Tugas 2: Menghapus karyawan yang berusia di bawah 25 tahun

# Menampilkan jumlah data sebelum penghapusan
print("Jumlah data sebelum dihapus:", collection.count_documents({}))

# Menghapus semua karyawan yang berusia di bawah 30 tahun
delete_result = collection.delete_many({'age': {'$lt': 30}})

# Menampilkan jumlah data yang dihapus
print(f"Jumlah data karyawan yang berusia di bawah 30 tahun yang dihapus: {delete_result.deleted_count}")

# Menampilkan jumlah data setelah penghapusan
print("Jumlah data setelah dihapus:", collection.count_documents({}))

# Menampilkan semua data karyawan yang tersisa untuk verifikasi
print("\nSemua Data Karyawan yang Tersisa Setelah Penghapusan:")
for employee in collection.find():
    print(employee)

Jumlah data sebelum dihapus: 84
Jumlah data karyawan yang berusia di bawah 30 tahun yang dihapus: 33
Jumlah data setelah dihapus: 51

Semua Data Karyawan yang Tersisa Setelah Penghapusan:
{'_id': ObjectId('690439e58d6b2495677813c2'), 'employee_id': 1, 'name': 'Employee_1', 'department': 'Sales', 'age': 34, 'salary': 5980}
{'_id': ObjectId('690439e58d6b2495677813c5'), 'employee_id': 4, 'name': 'Employee_4', 'department': 'IT', 'age': 35, 'salary': 8739.5}
{'_id': ObjectId('690439e58d6b2495677813c7'), 'employee_id': 6, 'name': 'Employee_6', 'department': 'Sales', 'age': 44, 'salary': 3449}
{'_id': ObjectId('690439e58d6b2495677813c9'), 'employee_id': 8, 'name': 'Employee_8', 'department': 'IT', 'age': 30, 'salary': 10913.1}
{'_id': ObjectId('690439e58d6b2495677813ce'), 'employee_id': 13, 'name': 'Employee_13', 'department': 'Operations', 'age': 44, 'salary': 6969}
{'_id': ObjectId('690439e58d6b2495677813cf'), 'employee_id': 14, 'name': 'Employee_14', 'department': 'IT', 'age': 47, 'salary': 10291.6}
{'_id': ObjectId('690439e58d6b2495677813d1'), 'employee_id': 16, 'name': 'Employee_16', 'department': 'Sales', 'age': 45, 'salary': 6419}
{'_id': ObjectId('690439e58d6b2495677813d2'), 'employee_id': 17, 'name': 'Employee_17', 'department': 'IT', 'age': 30, 'salary': 7982.700000000001}
{'_id': ObjectId('690439e58d6b2495677813d6'), 'employee_id': 21, 'name': 'Employee_21', 'department': 'HR', 'age': 36, 'salary': 6769}
{'_id': ObjectId('690439e58d6b2495677813dc'), 'employee_id': 27, 'name': 'Employee_27', 'department': 'Sales', 'age': 34, 'salary': 7854}
{'_id': ObjectId('690439e58d6b2495677813de'), 'employee_id': 29, 'name': 'Employee_29', 'department': 'Marketing', 'age': 37, 'salary': 5555}
{'_id': ObjectId('690439e58d6b2495677813df'), 'employee_id': 30, 'name': 'Employee_30', 'department': 'IT', 'age': 46, 'salary': 8695.5}
{'_id': ObjectId('690439e58d6b2495677813e1'), 'employee_id': 32, 'name': 'Employee_32', 'department': 'IT', 'age': 38, 'salary': 10976.900000000001}
{'_id': ObjectId('690439e58d6b2495677813e2'), 'employee_id': 33, 'name': 'Employee_33', 'department': 'Operations', 'age': 42, 'salary': 4152}
{'_id': ObjectId('690439e58d6b2495677813e3'), 'employee_id': 34, 'name': 'Employee_34', 'department': 'Sales', 'age': 33, 'salary': 8941}
{'_id': ObjectId('690439e58d6b2495677813e4'), 'employee_id': 35, 'name': 'Employee_35', 'department': 'IT', 'age': 37, 'salary': 11540.1}
{'_id': ObjectId('690439e58d6b2495677813e5'), 'employee_id': 36, 'name': 'Employee_36', 'department': 'Finance', 'age': 49, 'salary': 9182}
{'_id': ObjectId('690439e58d6b2495677813e6'), 'employee_id': 37, 'name': 'Employee_37', 'department': 'IT', 'age': 47, 'salary': 9720.7}
{'_id': ObjectId('690439e58d6b2495677813e8'), 'employee_id': 39, 'name': 'Employee_39', 'department': 'Finance', 'age': 39, 'salary': 4513}
{'_id': ObjectId('690439e58d6b2495677813e9'), 'employee_id': 40, 'name': 'Employee_40', 'department': 'Finance', 'age': 30, 'salary': 6993}
{'_id': ObjectId('690439e58d6b2495677813ea'), 'employee_id': 41, 'name': 'Employee_41', 'department': 'HR', 'age': 35, 'salary': 3248}
{'_id': ObjectId('690439e68d6b2495677813ec'), 'employee_id': 43, 'name': 'Employee_43', 'department': 'Finance', 'age': 37, 'salary': 11960}
{'_id': ObjectId('690439e68d6b2495677813ed'), 'employee_id': 44, 'name': 'Employee_44', 'department': 'Operations', 'age': 32, 'salary': 11421}
{'_id': ObjectId('690439e68d6b2495677813ee'), 'employee_id': 45, 'name': 'Employee_45', 'department': 'Finance', 'age': 45, 'salary': 11093}
{'_id': ObjectId('690439e68d6b2495677813f0'), 'employee_id': 47, 'name': 'Employee_47', 'department': 'Marketing', 'age': 36, 'salary': 4509}
{'_id': ObjectId('690439e68d6b2495677813f4'), 'employee_id': 51, 'name': 'Employee_51', 'department': 'Sales', 'age': 43, 'salary': 7401}
{'_id': ObjectId('690439e68d6b2495677813f5'), 'employee_id': 52, 'name': 'Employee_52', 'department': 'Finance', 'age': 32, 'salary': 10673}
{'_id': ObjectId('690439e68d6b2495677813f6'), 'employee_id': 53, 'name': 'Employee_53', 'department': 'HR', 'age': 35, 'salary': 8302}
{'_id': ObjectId('690439e68d6b2495677813f9'), 'employee_id': 56, 'name': 'Employee_56', 'department': 'Marketing', 'age': 46, 'salary': 7767}
{'_id': ObjectId('690439e68d6b2495677813fb'), 'employee_id': 58, 'name': 'Employee_58', 'department': 'IT', 'age': 44, 'salary': 9738.300000000001}
{'_id': ObjectId('690439e68d6b2495677813fc'), 'employee_id': 59, 'name': 'Employee_59', 'department': 'Finance', 'age': 37, 'salary': 3400}
{'_id': ObjectId('690439e68d6b2495677813fe'), 'employee_id': 61, 'name': 'Employee_61', 'department': 'IT', 'age': 39, 'salary': 4088.7000000000003}
{'_id': ObjectId('690439e68d6b2495677813ff'), 'employee_id': 62, 'name': 'Employee_62', 'department': 'Operations', 'age': 47, 'salary': 3904}
{'_id': ObjectId('690439e68d6b249567781400'), 'employee_id': 63, 'name': 'Employee_63', 'department': 'Sales', 'age': 44, 'salary': 4480}
{'_id': ObjectId('690439e68d6b249567781401'), 'employee_id': 64, 'name': 'Employee_64', 'department': 'Sales', 'age': 36, 'salary': 5466}
{'_id': ObjectId('690439e68d6b249567781404'), 'employee_id': 67, 'name': 'Employee_67', 'department': 'Sales', 'age': 41, 'salary': 7326}
{'_id': ObjectId('690439e68d6b249567781406'), 'employee_id': 69, 'name': 'Employee_69', 'department': 'Operations', 'age': 41, 'salary': 9761}
{'_id': ObjectId('690439e68d6b249567781408'), 'employee_id': 71, 'name': 'Employee_71', 'department': 'Marketing', 'age': 47, 'salary': 8867}
{'_id': ObjectId('690439e68d6b249567781409'), 'employee_id': 72, 'name': 'Employee_72', 'department': 'HR', 'age': 32, 'salary': 8469}
{'_id': ObjectId('690439e68d6b24956778140c'), 'employee_id': 75, 'name': 'Employee_75', 'department': 'Operations', 'age': 38, 'salary': 11175}
{'_id': ObjectId('690439e68d6b24956778140d'), 'employee_id': 76, 'name': 'Employee_76', 'department': 'HR', 'age': 44, 'salary': 11866}
{'_id': ObjectId('690439e68d6b24956778140e'), 'employee_id': 77, 'name': 'Employee_77', 'department': 'Finance', 'age': 37, 'salary': 8004}
{'_id': ObjectId('690439e68d6b249567781413'), 'employee_id': 82, 'name': 'Employee_82', 'department': 'Operations', 'age': 30, 'salary': 11592}
{'_id': ObjectId('690439e68d6b249567781414'), 'employee_id': 83, 'name': 'Employee_83', 'department': 'HR', 'age': 44, 'salary': 8269}
{'_id': ObjectId('690439e68d6b249567781418'), 'employee_id': 87, 'name': 'Employee_87', 'department': 'Operations', 'age': 33, 'salary': 7716}
{'_id': ObjectId('690439e68d6b24956778141d'), 'employee_id': 92, 'name': 'Employee_92', 'department': 'Finance', 'age': 49, 'salary': 4898}
{'_id': ObjectId('690439e68d6b24956778141e'), 'employee_id': 93, 'name': 'Employee_93', 'department': 'HR', 'age': 31, 'salary': 5790}
{'_id': ObjectId('690439e68d6b24956778141f'), 'employee_id': 94, 'name': 'Employee_94', 'department': 'Finance', 'age': 39, 'salary': 8016}
{'_id': ObjectId('690439e68d6b249567781422'), 'employee_id': 97, 'name': 'Employee_97', 'department': 'Finance', 'age': 48, 'salary': 5541}
{'_id': ObjectId('690439e68d6b249567781423'), 'employee_id': 98, 'name': 'Employee_98', 'department': 'Finance', 'age': 43, 'salary': 8197}
{'_id': ObjectId('690439e68d6b249567781425'), 'employee_id': 100, 'name': 'Employee_100', 'department': 'Marketing', 'age': 41, 'salary': 3930}

In [35]:
# Tugas 3
# Laporan ringkas: total gaji karyawan di setiap departemen dan rata-rata umur karyawan.

# Aggregation pipeline untuk menghitung total gaji dan rata-rata umur per departemen
pipeline = [
    {
        '$group': {
            '_id': '$department',
            'total_salary': {'$sum': '$salary'},
            'average_age': {'$avg': '$age'}
        }
    },
    {
        '$sort': {'_id': 1}  # Mengurutkan hasil berdasarkan nama departemen
    }
]

# Menampilkan hasil laporan
print("📋 Laporan Ringkas: Total Gaji dan Rata-rata Umur per Departemen\n")
for result in collection.aggregate(pipeline):
    print(f"Departemen: {result['_id']}")
    print(f"  Total Gaji     : {result['total_salary']}")
    print(f"  Rata-rata Umur : {result['average_age']:.2f} tahun\n")

📋 Laporan Ringkas: Total Gaji dan Rata-rata Umur per Departemen

Departemen: Finance
  Total Gaji     : 92470
  Rata-rata Umur : 40.42 tahun

Departemen: HR
  Total Gaji     : 52713
  Rata-rata Umur : 36.71 tahun

Departemen: IT
  Total Gaji     : 92687.1
  Rata-rata Umur : 39.30 tahun

Departemen: Marketing
  Total Gaji     : 30628
  Rata-rata Umur : 41.40 tahun

Departemen: Operations
  Total Gaji     : 66690
  Rata-rata Umur : 38.38 tahun

Departemen: Sales
  Total Gaji     : 57316
  Rata-rata Umur : 39.33 tahun

In [37]:
# Tugas Tambahan
# Membuat koleksi baru 'products'
products_collection = db["products"]

# Daftar kategori dan nama produk
categories = ["Elektronik", "Pakaian", "Makanan", "Peralatan Rumah", "Aksesoris", "Olahraga", "Kesehatan", "Mainan"]
product_names = [
    "Smartphone", "Laptop", "Kamera", "Headphone", "Keyboard", "Mouse", "Monitor", "TV",
    "Sepatu", "Jaket", "Kaos", "Celana", "Kemeja", "Topi", "Tas", "Jam Tangan",
    "Snack", "Minuman", "Roti", "Susu", "Coklat", "Kopi", "Mie Instan", "Saus",
    "Piring", "Sendok", "Kompor", "Vacuum Cleaner", "Blender", "Kulkas",
    "Cincin", "Kalung", "Gelang", "Anting", "Kacamata",
    "Bola", "Raket", "Treadmill", "Matras", "Sepeda",
    "Masker", "Vitamin", "Obat", "Suplemen", "Timbangan",
    "Puzzle", "Robot", "Boneka", "Lego", "Kartu Game"
]

# Membuat 100 data produk random
product_data = []
for i in range(100):
    product = {
        "product_id": i + 1,
        "name": random.choice(product_names) + f" {random.randint(100,999)}",
        "category": random.choice(categories),
        "price": random.randint(10000, 2000000),
        "stock": random.randint(0, 500),
        "rating": round(random.uniform(1.0, 5.0), 1)
    }
    product_data.append(product)

# Menambahkan data ke koleksi
products_collection.insert_many(product_data)

print("✅ Sebanyak 100 data produk berhasil dimasukkan ke koleksi 'products'!")

# Menampilkan data produk yang dibuat
print("\n📋 Data Produk yang Telah Dimasukkan:")
for product in products_collection.find():
    print(product)

✅ Sebanyak 100 data produk berhasil dimasukkan ke koleksi 'products'!

📋 Data Produk yang Telah Dimasukkan:
{'_id': ObjectId('69043c178d6b24956778148a'), 'product_id': 1, 'name': 'Minuman 767', 'category': 'Kesehatan', 'price': 700105, 'stock': 316, 'rating': 4.3}
{'_id': ObjectId('69043c178d6b24956778148b'), 'product_id': 2, 'name': 'Laptop 502', 'category': 'Makanan', 'price': 1357529, 'stock': 424, 'rating': 4.6}
{'_id': ObjectId('69043c178d6b24956778148c'), 'product_id': 3, 'name': 'Kompor 754', 'category': 'Elektronik', 'price': 1828699, 'stock': 117, 'rating': 3.9}
{'_id': ObjectId('69043c178d6b24956778148d'), 'product_id': 4, 'name': 'Kacamata 275', 'category': 'Pakaian', 'price': 499155, 'stock': 489, 'rating': 5.0}
{'_id': ObjectId('69043c178d6b24956778148e'), 'product_id': 5, 'name': 'Snack 695', 'category': 'Kesehatan', 'price': 501605, 'stock': 332, 'rating': 2.2}
{'_id': ObjectId('69043c178d6b24956778148f'), 'product_id': 6, 'name': 'Kemeja 882', 'category': 'Makanan', 'price': 1210362, 'stock': 260, 'rating': 1.4}
{'_id': ObjectId('69043c178d6b249567781490'), 'product_id': 7, 'name': 'Piring 243', 'category': 'Olahraga', 'price': 1837856, 'stock': 454, 'rating': 3.3}
{'_id': ObjectId('69043c178d6b249567781491'), 'product_id': 8, 'name': 'Tas 618', 'category': 'Olahraga', 'price': 1642926, 'stock': 499, 'rating': 2.0}
{'_id': ObjectId('69043c178d6b249567781492'), 'product_id': 9, 'name': 'Suplemen 864', 'category': 'Kesehatan', 'price': 1269090, 'stock': 312, 'rating': 1.7}
{'_id': ObjectId('69043c178d6b249567781493'), 'product_id': 10, 'name': 'Treadmill 788', 'category': 'Pakaian', 'price': 1671809, 'stock': 349, 'rating': 3.9}
{'_id': ObjectId('69043c178d6b249567781494'), 'product_id': 11, 'name': 'TV 987', 'category': 'Kesehatan', 'price': 1641844, 'stock': 282, 'rating': 3.0}
{'_id': ObjectId('69043c178d6b249567781495'), 'product_id': 12, 'name': 'Snack 823', 'category': 'Elektronik', 'price': 115470, 'stock': 169, 'rating': 3.3}
{'_id': ObjectId('69043c178d6b249567781496'), 'product_id': 13, 'name': 'Celana 396', 'category': 'Kesehatan', 'price': 494307, 'stock': 178, 'rating': 3.0}
{'_id': ObjectId('69043c178d6b249567781497'), 'product_id': 14, 'name': 'Vitamin 678', 'category': 'Elektronik', 'price': 173463, 'stock': 8, 'rating': 1.7}
{'_id': ObjectId('69043c178d6b249567781498'), 'product_id': 15, 'name': 'Kacamata 516', 'category': 'Aksesoris', 'price': 1105845, 'stock': 325, 'rating': 1.0}
{'_id': ObjectId('69043c178d6b249567781499'), 'product_id': 16, 'name': 'Topi 804', 'category': 'Makanan', 'price': 191261, 'stock': 248, 'rating': 1.6}
{'_id': ObjectId('69043c178d6b24956778149a'), 'product_id': 17, 'name': 'Kompor 847', 'category': 'Aksesoris', 'price': 1734460, 'stock': 406, 'rating': 4.9}
{'_id': ObjectId('69043c178d6b24956778149b'), 'product_id': 18, 'name': 'Obat 605', 'category': 'Aksesoris', 'price': 1957637, 'stock': 38, 'rating': 1.2}
{'_id': ObjectId('69043c178d6b24956778149c'), 'product_id': 19, 'name': 'Monitor 191', 'category': 'Elektronik', 'price': 1765885, 'stock': 389, 'rating': 2.1}
{'_id': ObjectId('69043c178d6b24956778149d'), 'product_id': 20, 'name': 'Kamera 300', 'category': 'Mainan', 'price': 241189, 'stock': 74, 'rating': 4.9}
{'_id': ObjectId('69043c178d6b24956778149e'), 'product_id': 21, 'name': 'Jaket 509', 'category': 'Mainan', 'price': 1802047, 'stock': 160, 'rating': 3.9}
{'_id': ObjectId('69043c178d6b24956778149f'), 'product_id': 22, 'name': 'Matras 197', 'category': 'Mainan', 'price': 66152, 'stock': 239, 'rating': 1.9}
{'_id': ObjectId('69043c178d6b2495677814a0'), 'product_id': 23, 'name': 'TV 796', 'category': 'Pakaian', 'price': 1519487, 'stock': 122, 'rating': 1.6}
{'_id': ObjectId('69043c178d6b2495677814a1'), 'product_id': 24, 'name': 'Blender 576', 'category': 'Kesehatan', 'price': 25345, 'stock': 43, 'rating': 4.6}
{'_id': ObjectId('69043c178d6b2495677814a2'), 'product_id': 25, 'name': 'Matras 397', 'category': 'Elektronik', 'price': 798200, 'stock': 70, 'rating': 1.2}
{'_id': ObjectId('69043c178d6b2495677814a3'), 'product_id': 26, 'name': 'Kemeja 961', 'category': 'Pakaian', 'price': 104877, 'stock': 372, 'rating': 4.9}
{'_id': ObjectId('69043c178d6b2495677814a4'), 'product_id': 27, 'name': 'Sepatu 230', 'category': 'Peralatan Rumah', 'price': 481512, 'stock': 163, 'rating': 2.9}
{'_id': ObjectId('69043c178d6b2495677814a5'), 'product_id': 28, 'name': 'Laptop 572', 'category': 'Elektronik', 'price': 1881844, 'stock': 104, 'rating': 3.4}
{'_id': ObjectId('69043c178d6b2495677814a6'), 'product_id': 29, 'name': 'Anting 992', 'category': 'Makanan', 'price': 948638, 'stock': 207, 'rating': 1.3}
{'_id': ObjectId('69043c178d6b2495677814a7'), 'product_id': 30, 'name': 'Kartu Game 519', 'category': 'Peralatan Rumah', 'price': 294128, 'stock': 254, 'rating': 4.3}
{'_id': ObjectId('69043c178d6b2495677814a8'), 'product_id': 31, 'name': 'Masker 927', 'category': 'Peralatan Rumah', 'price': 800550, 'stock': 276, 'rating': 1.7}
{'_id': ObjectId('69043c178d6b2495677814a9'), 'product_id': 32, 'name': 'Treadmill 839', 'category': 'Olahraga', 'price': 790867, 'stock': 240, 'rating': 4.0}
{'_id': ObjectId('69043c178d6b2495677814aa'), 'product_id': 33, 'name': 'Mouse 498', 'category': 'Mainan', 'price': 1938813, 'stock': 74, 'rating': 3.9}
{'_id': ObjectId('69043c178d6b2495677814ab'), 'product_id': 34, 'name': 'Kacamata 138', 'category': 'Kesehatan', 'price': 999439, 'stock': 275, 'rating': 2.7}
{'_id': ObjectId('69043c178d6b2495677814ac'), 'product_id': 35, 'name': 'Roti 228', 'category': 'Elektronik', 'price': 1603722, 'stock': 41, 'rating': 3.3}
{'_id': ObjectId('69043c178d6b2495677814ad'), 'product_id': 36, 'name': 'Obat 206', 'category': 'Mainan', 'price': 201821, 'stock': 4, 'rating': 3.0}
{'_id': ObjectId('69043c178d6b2495677814ae'), 'product_id': 37, 'name': 'Bola 716', 'category': 'Aksesoris', 'price': 444709, 'stock': 34, 'rating': 3.9}
{'_id': ObjectId('69043c178d6b2495677814af'), 'product_id': 38, 'name': 'Roti 351', 'category': 'Aksesoris', 'price': 905347, 'stock': 36, 'rating': 2.1}
{'_id': ObjectId('69043c178d6b2495677814b0'), 'product_id': 39, 'name': 'Puzzle 970', 'category': 'Makanan', 'price': 1944993, 'stock': 473, 'rating': 4.9}
{'_id': ObjectId('69043c178d6b2495677814b1'), 'product_id': 40, 'name': 'Matras 444', 'category': 'Olahraga', 'price': 1579866, 'stock': 175, 'rating': 1.5}
{'_id': ObjectId('69043c178d6b2495677814b2'), 'product_id': 41, 'name': 'Kompor 139', 'category': 'Olahraga', 'price': 664968, 'stock': 287, 'rating': 2.3}
{'_id': ObjectId('69043c178d6b2495677814b3'), 'product_id': 42, 'name': 'Kalung 715', 'category': 'Aksesoris', 'price': 1839388, 'stock': 207, 'rating': 3.3}
{'_id': ObjectId('69043c178d6b2495677814b4'), 'product_id': 43, 'name': 'Laptop 145', 'category': 'Aksesoris', 'price': 1539074, 'stock': 454, 'rating': 2.4}
{'_id': ObjectId('69043c178d6b2495677814b5'), 'product_id': 44, 'name': 'Suplemen 971', 'category': 'Elektronik', 'price': 1521375, 'stock': 468, 'rating': 3.2}
{'_id': ObjectId('69043c178d6b2495677814b6'), 'product_id': 45, 'name': 'Kalung 294', 'category': 'Aksesoris', 'price': 672232, 'stock': 466, 'rating': 3.8}
{'_id': ObjectId('69043c178d6b2495677814b7'), 'product_id': 46, 'name': 'Anting 415', 'category': 'Kesehatan', 'price': 1576855, 'stock': 470, 'rating': 3.6}
{'_id': ObjectId('69043c178d6b2495677814b8'), 'product_id': 47, 'name': 'Vacuum Cleaner 161', 'category': 'Peralatan Rumah', 'price': 1356333, 'stock': 383, 'rating': 1.1}
{'_id': ObjectId('69043c178d6b2495677814b9'), 'product_id': 48, 'name': 'Robot 276', 'category': 'Pakaian', 'price': 131757, 'stock': 102, 'rating': 1.4}
{'_id': ObjectId('69043c178d6b2495677814ba'), 'product_id': 49, 'name': 'Saus 990', 'category': 'Mainan', 'price': 529451, 'stock': 64, 'rating': 1.8}
{'_id': ObjectId('69043c178d6b2495677814bb'), 'product_id': 50, 'name': 'Masker 162', 'category': 'Pakaian', 'price': 1276216, 'stock': 266, 'rating': 4.6}
{'_id': ObjectId('69043c178d6b2495677814bc'), 'product_id': 51, 'name': 'Sendok 344', 'category': 'Elektronik', 'price': 512597, 'stock': 369, 'rating': 2.5}
{'_id': ObjectId('69043c178d6b2495677814bd'), 'product_id': 52, 'name': 'Keyboard 619', 'category': 'Aksesoris', 'price': 1520531, 'stock': 285, 'rating': 3.5}
{'_id': ObjectId('69043c178d6b2495677814be'), 'product_id': 53, 'name': 'Mie Instan 231', 'category': 'Elektronik', 'price': 1833763, 'stock': 447, 'rating': 2.5}
{'_id': ObjectId('69043c178d6b2495677814bf'), 'product_id': 54, 'name': 'Kompor 919', 'category': 'Mainan', 'price': 544382, 'stock': 468, 'rating': 1.7}
{'_id': ObjectId('69043c178d6b2495677814c0'), 'product_id': 55, 'name': 'Robot 267', 'category': 'Makanan', 'price': 1019591, 'stock': 158, 'rating': 1.9}
{'_id': ObjectId('69043c178d6b2495677814c1'), 'product_id': 56, 'name': 'Matras 866', 'category': 'Pakaian', 'price': 470162, 'stock': 201, 'rating': 3.5}
{'_id': ObjectId('69043c178d6b2495677814c2'), 'product_id': 57, 'name': 'Coklat 901', 'category': 'Olahraga', 'price': 1946692, 'stock': 223, 'rating': 2.6}
{'_id': ObjectId('69043c178d6b2495677814c3'), 'product_id': 58, 'name': 'Tas 215', 'category': 'Mainan', 'price': 1775725, 'stock': 189, 'rating': 3.7}
{'_id': ObjectId('69043c178d6b2495677814c4'), 'product_id': 59, 'name': 'Anting 818', 'category': 'Peralatan Rumah', 'price': 1683104, 'stock': 63, 'rating': 3.9}
{'_id': ObjectId('69043c178d6b2495677814c5'), 'product_id': 60, 'name': 'Celana 846', 'category': 'Olahraga', 'price': 661798, 'stock': 178, 'rating': 3.3}
{'_id': ObjectId('69043c178d6b2495677814c6'), 'product_id': 61, 'name': 'Suplemen 445', 'category': 'Kesehatan', 'price': 583635, 'stock': 151, 'rating': 3.6}
{'_id': ObjectId('69043c178d6b2495677814c7'), 'product_id': 62, 'name': 'Laptop 358', 'category': 'Peralatan Rumah', 'price': 277516, 'stock': 108, 'rating': 2.5}
{'_id': ObjectId('69043c178d6b2495677814c8'), 'product_id': 63, 'name': 'Kopi 666', 'category': 'Makanan', 'price': 682909, 'stock': 246, 'rating': 3.9}
{'_id': ObjectId('69043c178d6b2495677814c9'), 'product_id': 64, 'name': 'Treadmill 246', 'category': 'Olahraga', 'price': 1541043, 'stock': 125, 'rating': 1.7}
{'_id': ObjectId('69043c178d6b2495677814ca'), 'product_id': 65, 'name': 'Kompor 650', 'category': 'Peralatan Rumah', 'price': 316208, 'stock': 183, 'rating': 2.8}
{'_id': ObjectId('69043c178d6b2495677814cb'), 'product_id': 66, 'name': 'Kemeja 560', 'category': 'Pakaian', 'price': 585836, 'stock': 257, 'rating': 2.4}
{'_id': ObjectId('69043c178d6b2495677814cc'), 'product_id': 67, 'name': 'Monitor 365', 'category': 'Pakaian', 'price': 336800, 'stock': 410, 'rating': 2.7}
{'_id': ObjectId('69043c178d6b2495677814cd'), 'product_id': 68, 'name': 'Cincin 424', 'category': 'Mainan', 'price': 1059280, 'stock': 372, 'rating': 1.2}
{'_id': ObjectId('69043c178d6b2495677814ce'), 'product_id': 69, 'name': 'Kulkas 146', 'category': 'Elektronik', 'price': 1084483, 'stock': 88, 'rating': 2.2}
{'_id': ObjectId('69043c178d6b2495677814cf'), 'product_id': 70, 'name': 'Coklat 832', 'category': 'Elektronik', 'price': 436728, 'stock': 390, 'rating': 1.2}
{'_id': ObjectId('69043c178d6b2495677814d0'), 'product_id': 71, 'name': 'Roti 667', 'category': 'Aksesoris', 'price': 1214655, 'stock': 172, 'rating': 2.6}
{'_id': ObjectId('69043c178d6b2495677814d1'), 'product_id': 72, 'name': 'Blender 228', 'category': 'Elektronik', 'price': 1439462, 'stock': 382, 'rating': 1.2}
{'_id': ObjectId('69043c178d6b2495677814d2'), 'product_id': 73, 'name': 'Obat 461', 'category': 'Makanan', 'price': 1172093, 'stock': 34, 'rating': 3.1}
{'_id': ObjectId('69043c178d6b2495677814d3'), 'product_id': 74, 'name': 'Vacuum Cleaner 338', 'category': 'Aksesoris', 'price': 1877148, 'stock': 82, 'rating': 2.9}
{'_id': ObjectId('69043c178d6b2495677814d4'), 'product_id': 75, 'name': 'Keyboard 852', 'category': 'Olahraga', 'price': 1425121, 'stock': 55, 'rating': 2.9}
{'_id': ObjectId('69043c178d6b2495677814d5'), 'product_id': 76, 'name': 'Minuman 438', 'category': 'Elektronik', 'price': 670997, 'stock': 252, 'rating': 4.3}
{'_id': ObjectId('69043c178d6b2495677814d6'), 'product_id': 77, 'name': 'Headphone 785', 'category': 'Elektronik', 'price': 91298, 'stock': 409, 'rating': 2.8}
{'_id': ObjectId('69043c178d6b2495677814d7'), 'product_id': 78, 'name': 'Sepatu 385', 'category': 'Kesehatan', 'price': 866288, 'stock': 40, 'rating': 4.7}
{'_id': ObjectId('69043c178d6b2495677814d8'), 'product_id': 79, 'name': 'Topi 186', 'category': 'Peralatan Rumah', 'price': 1046949, 'stock': 359, 'rating': 4.2}
{'_id': ObjectId('69043c178d6b2495677814d9'), 'product_id': 80, 'name': 'Gelang 349', 'category': 'Olahraga', 'price': 746490, 'stock': 312, 'rating': 4.3}
{'_id': ObjectId('69043c178d6b2495677814da'), 'product_id': 81, 'name': 'Susu 519', 'category': 'Makanan', 'price': 1387969, 'stock': 496, 'rating': 3.3}
{'_id': ObjectId('69043c178d6b2495677814db'), 'product_id': 82, 'name': 'Kamera 248', 'category': 'Olahraga', 'price': 1109999, 'stock': 80, 'rating': 4.5}
{'_id': ObjectId('69043c178d6b2495677814dc'), 'product_id': 83, 'name': 'Boneka 257', 'category': 'Mainan', 'price': 1235864, 'stock': 378, 'rating': 4.8}
{'_id': ObjectId('69043c178d6b2495677814dd'), 'product_id': 84, 'name': 'Jam Tangan 747', 'category': 'Elektronik', 'price': 1412029, 'stock': 329, 'rating': 3.8}
{'_id': ObjectId('69043c178d6b2495677814de'), 'product_id': 85, 'name': 'Mie Instan 581', 'category': 'Kesehatan', 'price': 1071717, 'stock': 151, 'rating': 3.8}
{'_id': ObjectId('69043c178d6b2495677814df'), 'product_id': 86, 'name': 'Roti 249', 'category': 'Peralatan Rumah', 'price': 1310675, 'stock': 96, 'rating': 2.4}
{'_id': ObjectId('69043c178d6b2495677814e0'), 'product_id': 87, 'name': 'Kulkas 885', 'category': 'Aksesoris', 'price': 483900, 'stock': 231, 'rating': 2.2}
{'_id': ObjectId('69043c178d6b2495677814e1'), 'product_id': 88, 'name': 'Roti 590', 'category': 'Kesehatan', 'price': 1988128, 'stock': 297, 'rating': 3.7}
{'_id': ObjectId('69043c178d6b2495677814e2'), 'product_id': 89, 'name': 'Vitamin 459', 'category': 'Mainan', 'price': 1186863, 'stock': 425, 'rating': 1.5}
{'_id': ObjectId('69043c178d6b2495677814e3'), 'product_id': 90, 'name': 'Raket 975', 'category': 'Pakaian', 'price': 184359, 'stock': 107, 'rating': 4.0}
{'_id': ObjectId('69043c178d6b2495677814e4'), 'product_id': 91, 'name': 'Blender 470', 'category': 'Olahraga', 'price': 1224869, 'stock': 90, 'rating': 3.4}
{'_id': ObjectId('69043c178d6b2495677814e5'), 'product_id': 92, 'name': 'Timbangan 361', 'category': 'Kesehatan', 'price': 397900, 'stock': 457, 'rating': 3.1}
{'_id': ObjectId('69043c178d6b2495677814e6'), 'product_id': 93, 'name': 'Celana 758', 'category': 'Aksesoris', 'price': 1507411, 'stock': 213, 'rating': 4.7}
{'_id': ObjectId('69043c178d6b2495677814e7'), 'product_id': 94, 'name': 'Coklat 175', 'category': 'Peralatan Rumah', 'price': 902342, 'stock': 468, 'rating': 3.2}
{'_id': ObjectId('69043c178d6b2495677814e8'), 'product_id': 95, 'name': 'Piring 401', 'category': 'Mainan', 'price': 1318025, 'stock': 198, 'rating': 4.2}
{'_id': ObjectId('69043c178d6b2495677814e9'), 'product_id': 96, 'name': 'Coklat 775', 'category': 'Olahraga', 'price': 862402, 'stock': 97, 'rating': 4.5}
{'_id': ObjectId('69043c178d6b2495677814ea'), 'product_id': 97, 'name': 'Vacuum Cleaner 875', 'category': 'Olahraga', 'price': 298112, 'stock': 325, 'rating': 3.7}
{'_id': ObjectId('69043c178d6b2495677814eb'), 'product_id': 98, 'name': 'Jaket 714', 'category': 'Makanan', 'price': 663122, 'stock': 207, 'rating': 2.6}
{'_id': ObjectId('69043c178d6b2495677814ec'), 'product_id': 99, 'name': 'Kartu Game 716', 'category': 'Aksesoris', 'price': 1384570, 'stock': 86, 'rating': 2.2}
{'_id': ObjectId('69043c178d6b2495677814ed'), 'product_id': 100, 'name': 'Timbangan 703', 'category': 'Makanan', 'price': 1227653, 'stock': 159, 'rating': 4.2}

In [40]:
# Latihan 4.2: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

# Hitung harga rata-rata semua produk
average_price_pipeline = [
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]
average_price_result = list(products_collection.aggregate(average_price_pipeline))
average_price = average_price_result[0]['average_price']

print(f"💵 Harga rata-rata semua produk: {average_price:.2f}\n")

# Query produk dengan harga di atas rata-rata
above_average_products = products_collection.find({'price': {'$gt': average_price}})

print("📦 Produk dengan Harga di Atas Rata-rata;")
for product in above_average_products:
    print(f"ID Produk   : {product['product_id']}")
    print(f"Nama Produk : {product['name']}")
    print(f"Kategori    : {product['category']}")
    print(f"Harga       : {product['price']}")
    print(f"Stok        : {product['stock']}")
    print(f"Rating      : {product['rating']}\n")

💵 Harga rata-rata semua produk: 1027616.96

📦 Produk dengan Harga di Atas Rata-rata;
ID Produk   : 2
Nama Produk : Laptop 502
Kategori    : Makanan
Harga       : 1357529
Stok        : 424
Rating      : 4.6

ID Produk   : 3
Nama Produk : Kompor 754
Kategori    : Elektronik
Harga       : 1828699
Stok        : 117
Rating      : 3.9

ID Produk   : 6
Nama Produk : Kemeja 882
Kategori    : Makanan
Harga       : 1210362
Stok        : 260
Rating      : 1.4

ID Produk   : 7
Nama Produk : Piring 243
Kategori    : Olahraga
Harga       : 1837856
Stok        : 454
Rating      : 3.3

ID Produk   : 8
Nama Produk : Tas 618
Kategori    : Olahraga
Harga       : 1642926
Stok        : 499
Rating      : 2.0

ID Produk   : 9
Nama Produk : Suplemen 864
Kategori    : Kesehatan
Harga       : 1269090
Stok        : 312
Rating      : 1.7

ID Produk   : 10
Nama Produk : Treadmill 788
Kategori    : Pakaian
Harga       : 1671809
Stok        : 349
Rating      : 3.9

ID Produk   : 11
Nama Produk : TV 987
Kategori    : Kesehatan
Harga       : 1641844
Stok        : 282
Rating      : 3.0

ID Produk   : 15
Nama Produk : Kacamata 516
Kategori    : Aksesoris
Harga       : 1105845
Stok        : 325
Rating      : 1.0

ID Produk   : 17
Nama Produk : Kompor 847
Kategori    : Aksesoris
Harga       : 1734460
Stok        : 406
Rating      : 4.9

ID Produk   : 18
Nama Produk : Obat 605
Kategori    : Aksesoris
Harga       : 1957637
Stok        : 38
Rating      : 1.2

ID Produk   : 19
Nama Produk : Monitor 191
Kategori    : Elektronik
Harga       : 1765885
Stok        : 389
Rating      : 2.1

ID Produk   : 21
Nama Produk : Jaket 509
Kategori    : Mainan
Harga       : 1802047
Stok        : 160
Rating      : 3.9

ID Produk   : 23
Nama Produk : TV 796
Kategori    : Pakaian
Harga       : 1519487
Stok        : 122
Rating      : 1.6

ID Produk   : 28
Nama Produk : Laptop 572
Kategori    : Elektronik
Harga       : 1881844
Stok        : 104
Rating      : 3.4

ID Produk   : 33
Nama Produk : Mouse 498
Kategori    : Mainan
Harga       : 1938813
Stok        : 74
Rating      : 3.9

ID Produk   : 35
Nama Produk : Roti 228
Kategori    : Elektronik
Harga       : 1603722
Stok        : 41
Rating      : 3.3

ID Produk   : 39
Nama Produk : Puzzle 970
Kategori    : Makanan
Harga       : 1944993
Stok        : 473
Rating      : 4.9

ID Produk   : 40
Nama Produk : Matras 444
Kategori    : Olahraga
Harga       : 1579866
Stok        : 175
Rating      : 1.5

ID Produk   : 42
Nama Produk : Kalung 715
Kategori    : Aksesoris
Harga       : 1839388
Stok        : 207
Rating      : 3.3

ID Produk   : 43
Nama Produk : Laptop 145
Kategori    : Aksesoris
Harga       : 1539074
Stok        : 454
Rating      : 2.4

ID Produk   : 44
Nama Produk : Suplemen 971
Kategori    : Elektronik
Harga       : 1521375
Stok        : 468
Rating      : 3.2

ID Produk   : 46
Nama Produk : Anting 415
Kategori    : Kesehatan
Harga       : 1576855
Stok        : 470
Rating      : 3.6

ID Produk   : 47
Nama Produk : Vacuum Cleaner 161
Kategori    : Peralatan Rumah
Harga       : 1356333
Stok        : 383
Rating      : 1.1

ID Produk   : 50
Nama Produk : Masker 162
Kategori    : Pakaian
Harga       : 1276216
Stok        : 266
Rating      : 4.6

ID Produk   : 52
Nama Produk : Keyboard 619
Kategori    : Aksesoris
Harga       : 1520531
Stok        : 285
Rating      : 3.5

ID Produk   : 53
Nama Produk : Mie Instan 231
Kategori    : Elektronik
Harga       : 1833763
Stok        : 447
Rating      : 2.5

ID Produk   : 57
Nama Produk : Coklat 901
Kategori    : Olahraga
Harga       : 1946692
Stok        : 223
Rating      : 2.6

ID Produk   : 58
Nama Produk : Tas 215
Kategori    : Mainan
Harga       : 1775725
Stok        : 189
Rating      : 3.7

ID Produk   : 59
Nama Produk : Anting 818
Kategori    : Peralatan Rumah
Harga       : 1683104
Stok        : 63
Rating      : 3.9

ID Produk   : 64
Nama Produk : Treadmill 246
Kategori    : Olahraga
Harga       : 1541043
Stok        : 125
Rating      : 1.7

ID Produk   : 68
Nama Produk : Cincin 424
Kategori    : Mainan
Harga       : 1059280
Stok        : 372
Rating      : 1.2

ID Produk   : 69
Nama Produk : Kulkas 146
Kategori    : Elektronik
Harga       : 1084483
Stok        : 88
Rating      : 2.2

ID Produk   : 71
Nama Produk : Roti 667
Kategori    : Aksesoris
Harga       : 1214655
Stok        : 172
Rating      : 2.6

ID Produk   : 72
Nama Produk : Blender 228
Kategori    : Elektronik
Harga       : 1439462
Stok        : 382
Rating      : 1.2

ID Produk   : 73
Nama Produk : Obat 461
Kategori    : Makanan
Harga       : 1172093
Stok        : 34
Rating      : 3.1

ID Produk   : 74
Nama Produk : Vacuum Cleaner 338
Kategori    : Aksesoris
Harga       : 1877148
Stok        : 82
Rating      : 2.9

ID Produk   : 75
Nama Produk : Keyboard 852
Kategori    : Olahraga
Harga       : 1425121
Stok        : 55
Rating      : 2.9

ID Produk   : 79
Nama Produk : Topi 186
Kategori    : Peralatan Rumah
Harga       : 1046949
Stok        : 359
Rating      : 4.2

ID Produk   : 81
Nama Produk : Susu 519
Kategori    : Makanan
Harga       : 1387969
Stok        : 496
Rating      : 3.3

ID Produk   : 82
Nama Produk : Kamera 248
Kategori    : Olahraga
Harga       : 1109999
Stok        : 80
Rating      : 4.5

ID Produk   : 83
Nama Produk : Boneka 257
Kategori    : Mainan
Harga       : 1235864
Stok        : 378
Rating      : 4.8

ID Produk   : 84
Nama Produk : Jam Tangan 747
Kategori    : Elektronik
Harga       : 1412029
Stok        : 329
Rating      : 3.8

ID Produk   : 85
Nama Produk : Mie Instan 581
Kategori    : Kesehatan
Harga       : 1071717
Stok        : 151
Rating      : 3.8

ID Produk   : 86
Nama Produk : Roti 249
Kategori    : Peralatan Rumah
Harga       : 1310675
Stok        : 96
Rating      : 2.4

ID Produk   : 88
Nama Produk : Roti 590
Kategori    : Kesehatan
Harga       : 1988128
Stok        : 297
Rating      : 3.7

ID Produk   : 89
Nama Produk : Vitamin 459
Kategori    : Mainan
Harga       : 1186863
Stok        : 425
Rating      : 1.5

ID Produk   : 91
Nama Produk : Blender 470
Kategori    : Olahraga
Harga       : 1224869
Stok        : 90
Rating      : 3.4

ID Produk   : 93
Nama Produk : Celana 758
Kategori    : Aksesoris
Harga       : 1507411
Stok        : 213
Rating      : 4.7

ID Produk   : 95
Nama Produk : Piring 401
Kategori    : Mainan
Harga       : 1318025
Stok        : 198
Rating      : 4.2

ID Produk   : 99
Nama Produk : Kartu Game 716
Kategori    : Aksesoris
Harga       : 1384570
Stok        : 86
Rating      : 2.2

ID Produk   : 100
Nama Produk : Timbangan 703
Kategori    : Makanan
Harga       : 1227653
Stok        : 159
Rating      : 4.2

In [44]:
# Latihan 4.3: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.
# Aggregation pipeline untuk menghitung total produk per kategori
pipeline = [
    {
        '$group': {
            '_id': '$category',
            'total_products': {'$sum': 1}
        }
    },
    {
        '$sort': {'total_products': -1}  # urutkan dari kategori dengan jumlah produk terbanyak
    }
]

# Menjalankan pipeline dan menampilkan hasil
print("Total Produk per Kategori: \n")
for result in products_collection.aggregate(pipeline):
    print(f"Kategori       : {result['_id']}")
    print(f"Total Produk  : {result['total_products']}\n")

Total Produk per Kategori:

Kategori       : Elektronik
Total Produk  : 16

Kategori       : Aksesoris
Total Produk  : 14

Kategori       : Olahraga
Total Produk  : 14

Kategori       : Kesehatan
Total Produk  : 13

Kategori       : Mainan
Total Produk  : 12

Kategori       : Makanan
Total Produk  : 11

Kategori       : Peralatan Rumah
Total Produk  : 10

Kategori       : Pakaian
Total Produk  : 10